@model IEnumerable<SEA_Application.Models.ruffdata>
@{
   

    Layout = "~/Views/Shared/_BranchAdminDashboardLayout.cshtml";

}
<style>
    .dataTables_filter {
        display: block !important;
    }
</style>


<div class="row">
    <div class="col-md-12">
        <div class="card">

            <div class="card-body p-5">


                <table id="datatable" class="table table-bordered table-hover table-striped">

                    <thead>
                        <tr>

                            <th>Name   </th>
                            <th>UserName</th>
                            <th>Password</th>

                         

                        </tr>

                    </thead>


                    <tbody>

                        @foreach (var item in Model)
                        {

                            <tr>
                                <td>@item.Name</td>
                                <td>@item.UserName</td>
                                <td>@item.Password</td>
                              
                            </tr>

                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {


        $("#PageHeader").html("Student Passwords");


     var   table = $('#datatable').dataTable({
            buttons: [
                {
                    text: '<span class="datatableButtonsReset"> <img src="/Content/assets/assets/icons/Icon-Reset2.png" alt=""> Reset</span>'
                },
                {
                    text: '<span class="datatableButtonsEdit"> <img src="/Content/assets/assets/icons/Icon-edit.png" alt=""> Create</span>',
                    action: function (e, dt, button, config) {
                        window.location.href = '';
                    }
                },
                {
                    text: '<span class="datatableButtonsDownload"> <img src="/Content/assets/assets/icons/Icon-download.png" alt=""> Download</span>'
                }
            ],
            "language": {
                "lengthMenu": "<div class=\"d-flex showEntriesCon\">\n" +
                    "  <div class=\"p-2\">Show </div> <div class=\"showEntries\"> _MENU_\n" +
                    "  </div>\n" +
                    "  </div>",
                "info": "<div class='showingEntriesOfTotal'>Showing <span class=\"text-info\">_START_ to _END_</span> of _TOTAL_ entries</div>",
                "paginate": {
                    "first": "Firstt",
                    "last": "Lastt",
                    "next": ' <img src="~/Content/assets/assets/icons/Arrow2.png" alt=""> ',
                    "previous": ' <img src="~/Content/assets/assets/icons/Arrow1.png" alt=""> '
                }
            },
            "searching": true,

            dom: "<'row mb-3'<'col-sm-12 col-md-2 col-lg-2'l><'col-sm-12 col-md-10 col-lg-10 datatableButtonsCon text-right'Bf>>" +
                "<'row'<'col-sm-12 datatablesData'tr>>" +
                "<'row mt-4'<'col-sm-12 col-md-4 col-lg-6 infoCon'i><'col-sm-12 col-md-8 col-lg-6 pagCon'p>>",
        });

    })
</script>