@{
    ViewBag.Title = "StudentIndex";
    if (User.IsInRole("Branch_Admin") || User.IsInRole("Branch_Principal"))
    {
        Layout = "~/Views/Shared/_BranchAdminDashboardLayout.cshtml";
    }
    else if (User.IsInRole("Accountant"))
    {
        Layout = "~/Views/Shared/_AccountantDashboardLayout.cshtml";
    }
}
<style>
</style>


<script>
    $(document).ready(function () {
        // table = $('#example').dataTable();
        // drawTable();
        $("#example_filter").css('display', 'none');

        $("#PageHeader").html("Students");

        $("#BreadCrumbs").append(' <li> <a href="#"> Home </a> <span>&gt;</span></li>');
        $("#BreadCrumbs").append(' <li class="active"><a id="BreadCrumps1" href="#">Students</a></li>');

         $('#example tfoot th').each(function () {
            var title = $(this).text();
            $(this).html('<input type="text" class="round-border" style="border-color:#053f89; border-radius:5px" placeholder="Search ' + title + '" />');
        });



             if ($("#StudentCreatedMsg").val() != "") {
            var type = 'success';
            var msg = "Student Created Successfully";
            showNotification('top', 'center', msg, type);
            //toastr.info('Lesson updated successfully');
        }
           if ($("#StudentUpdatedMsg").val() != "") {
            var type = 'success';
            var msg = "Student Updated Successfully";
            showNotification('top', 'center', msg, type);
            //toastr.info('Lesson updated successfully');
        }





             $('.table').on('click', 'tbody tr', function () {

                    var td = $(this).children("td");

                    if ($(td).html() != "No data available in table");
                    window.location.href = "Edit?userName=" + $(td[1]).html();
                });


        var table;


        //   $('.eeniart0017').css("display", "block");



        var RenderToCreate = '/AspNetStudents/Create';

        table = $('#example').dataTable({
            initComplete: function () {
                // Apply the search
                this.api().columns().every(function () {
                    var that = this;

                    $('input', this.footer()).on('keyup change clear', function () {
                        //if (that.search() !== this.value) {
                        //    that
                        //        .search(this.value)
                        //        .draw();
                        //}
                             if (that.search() !== this.value) {
                            that
                                .search(this.value)
                                .draw();
                        }
                    });
                });
            },
            buttons: [
                {
                   // text: '<span class="datatableButtonsReset"> <img src="/Content/assets/assets/icons/Icon-Reset2.png" alt=""> Reset</span>'
                },
                {
                    text: '<span class="datatableButtonsEdit"> <img src="/Content/assets/assets/icons/Icon-edit.png" alt=""> Create</span>',
                    action: function (e, dt, button, config) {
                        window.location.href = RenderToCreate;
                    }
                },
                {
                 //   text: '<span class="datatableButtonsDownload"> <img src="/Content/assets/assets/icons/Icon-download.png" alt=""> Download</span>'
                }
            ],
            "language": {
                "lengthMenu": "<div class=\"d-flex showEntriesCon\">\n" +
                    "  <div class=\"p-2\">Show </div> <div class=\"showEntries\"> _MENU_\n" +
                    "  </div>\n" +
                    "  </div>",
                "info": "<div class='showingEntriesOfTotal'>Showing <span class=\"text-info\">_START_ to _END_</span> of _TOTAL_ entries</div>",
                "paginate": {
                    "first": "Firstt",
                    "last": "Lastt",
                    "next": ' <img src="~/Content/assets/assets/icons/Arrow2.png" alt=""> ',
                    "previous": ' <img src="~/Content/assets/assets/icons/Arrow1.png" alt=""> '
                }
            },
            "searching": true,
            // dom: '<"class">Blfrtip',
            dom: "<'row mb-3'<'col-sm-12 col-md-2 col-lg-2'l><'col-sm-12 col-md-10 col-lg-10 datatableButtonsCon text-right'Bf>>" +
                "<'row'<'col-sm-12 datatablesData'tr>>" +
                "<'row mt-4'<'col-sm-12 col-md-4 col-lg-6 infoCon'i><'col-sm-12 col-md-8 col-lg-6 pagCon'p>>",
        });
           $('#example tfoot tr').appendTo('#example thead');
         $("#example_filter").hide();
        //  $('#example tfoot tr').appendTo('#example thead');

          $('input#global_filter').on('keyup click', function () {
            filterGlobal();
        });
        $.ajax({
            type: "POST",
            url: "/AspNetStudents/GetStudents",
            success: function (data) {
                console.log(data);
                $('.eeniart0017').css("display", "none");
                table.fnClearTable();
                $.each(data, function (i, item) {
                    debugger
                    //  var personimage = '<img src="' + item.image + '" style="border-radius:50%;width:35px;height:35px" />';
                    //   var personimage='<img src="~/Content/Images/co.jpg" />';
                    //var btn = '<input type="button" id="showdetails" onclick="REDIRECT()" value="Edit Student" style="border-radius:35px;font-weight:700;margin-left:5px;margin-right:5px;margin-top:5px;border:none;color:#808080;font-size:10px;font-family:Montserrat;background-color:#f5f5f5;width:10%;height:25px" />';

                    table.fnAddData([item.Name, item.RollNo, item.CellNo, item.JoiningDate, item.ClassName,item.TotalWithoutAdmission]);


                });
                table.fnDraw();
            }
        })
        $('#datatable tfoot tr').appendTo('#datatable thead');

    })
    function REDIRECT() {

        $('.table').on('click', 'tbody tr', function () {

            var td = $(this).children("td");

            if ($(td).html() != "No data available in table");
            window.location.href = "Edit?userName=" + $(td[2]).html();
        });

    }

    function class_click(item) {

        var select = item.value;
        ClassList(item.value);
    }
    @* function ClassList(selectedClass) {

        if (selectedClass != null) {
            $('.eeniart0017').css("display", "block");
        }
        $.get('@Url.Action("StudentsList", "AspNetStudents")',
            { id: selectedClass },
            function (data) {
                $('.eeniart0017').css("display", "none");


                table.fnClearTable();
                $.each(data, function (i, item) {


                    var personimage = '<img src="' + item.image + '" style="border-radius:50%;width:35px;height:35px" />';
                    //  var personimage = '<img src="' + item.Image + '" style="border-radius:50%;width:35px;height:35px" />';
                    var btn = '<input type="button" id="showdetails" onclick="REDIRECT()" value="Edit Student" style="border-radius:35px;font-weight:700;margin-left:5px;margin-right:5px;margin-top:5px;border:none;color:#808080;font-size:10px;font-family:Montserrat;background-color:#f5f5f5;width:10%;height:25px" />';
                    table.fnAddData([personimage, item.Name, item.RollNo, btn]);
                });

                if (selectedClass == 0) {
                    $('#View').html("View Default");
                } else {
                    $('#View').html("View Filtered");
                }

            });
    } *@
        //function drawTable() {
        //    $('#example_filter').addClass("form-group");
        //    $('#example_filter').addClass("has-feedback");
        //    $('#example_length').addClass("col-lg-9 col-md-8 col-sm-12 col-xs-12");
        //    //$('#example_filter').css("col-lg-9 col-md-8 col-sm-12 col-xs-12");

        //    $('#example_wrapper').css("text-align", "left");
        //    $('#example_length').css("text-align", "left");
        //    $('#example_length label').addClass("col-md-3 col-sm-12 col-lg-2");
        //    $("#example_length label").css("text-align", "left");
        //    $('#example_length label').addClass("col-md-2 col-lg-2 col-sm-12");
        //    // // $('#example_length label select').addClass("col-md-3 col-sm-8 col-lg-3"); : auto;
        //    $('#example_filter input').css({ "border": "1px solid #ddd", "border-radius": "40px", "height": "30px", "margin-top": "-0px", "outline": "none", "padding-left": "10px", "color": "#000000 !important" });
        //    //$('#example_length').css({ "overflow": "auto" });
        //    $('#example_filter input').addClass("add");
        //    $('#example_filter').append('<span class="glyphicon glyphicon-search  form-control-feedback" style="margin-top: -25px; color: #666;"></span>');
        //    var list = $("#ClassID").html();
        //    $('#example_length').append(

        //        '<div class="col-md-1 col-lg-1" style="width:0%; padding-left:1px;">' +
        //        '<div class="d-bar" style="margin-top:0px;"></div>' +
        //        '</div>'
        //          +
        //       '<div class="col-md-3 col-lg-3">' +
        //       '<div class="col-md-6" style="padding:0px; margin-top:0px">' +
        //       '<lable class="control-label"  style="margin-top:0px">Select Class</lable>' +
        //       '</div>' +
        //       '<div class="col-md-6">' +
        //       '<select class="form-control  input-sm" id="Class" style="margin-top:-4px" name="ClassID" onclick="class_click(this)">' + list +
        //       '</select>' +
        //       '</div>' +
        //       '</div>' +
        //       '<div class="col-md-2 pull-right !important">' +
        //      '<input type="button" class="form-control" id="cre" onclick="Disabled()" value="Disabled" style="border-radius:45px;border-color:#128edb;color:#128edb;background-color:#ffffff" />' +
        //      '</div>' +
        //         '<div class="col-md-2 pull-right !important">' +
        //      '<input type="button" class="form-control" id="cre" onclick="Create()" value="Create" style="border-radius:45px;border-color:#128edb;color:#128edb;background-color:#ffffff" />' +
        //      '</div>' +
        //        '<div class="col-md-2 pull-right !important">' +
        //      '<input type="button" value="Refresh"  class="form-control" id="refresh" onclick="Refresh()" style="border-radius:45px;border-color:#21cd54;color:#21cd54;background-color:#ffffff" />' +
        //      '</div>');
        //    $("#Class").prepend("<option value='0' selected>All</option>");
        //}
        function Create() {
            window.location.href = "/AspNetStudents/Create";
        }
    function Disabled() {
        window.location.href = "/AspNetStudents/DisabledStudents";
    }
    function Refresh() {
        window.location.href = "";
    }
    //function drawTable() {
    //    $('#example_filter').addClass("form-group");
    //    $('#example_filter').addClass("has-feedback");
    //    $('#example_length').addClass("col-lg-9 col-md-8 col-sm-12 col-xs-12");
    //    //$('#example_filter').css("col-lg-9 col-md-8 col-sm-12 col-xs-12");

    //    $('#example_wrapper').css("text-align", "left");
    //    $('#example_length').css("text-align", "left");
    //    $('#example_length label').addClass("col-md-3 col-sm-12 col-lg-2");
    //    $("#example_length label").css("text-align", "left");
    //    $('#example_length label').addClass("col-md-2 col-lg-2 col-sm-12");
    //    // // $('#example_length label select').addClass("col-md-3 col-sm-8 col-lg-3"); : auto;
    //    $('#example_filter input').css({ "border": "1px solid #ddd", "border-radius": "40px", "height": "30px", "margin-top": "-5px", "outline": "none", "padding-left": "10px", "color": "#000000 !important" });
    //    //$('#example_length').css({ "overflow": "auto" });
    //    $('#example_filter input').addClass("add");
    //    $('#example_filter').append('<span class="glyphicon glyphicon-search  form-control-feedback" style="margin-top: -33px; color: #666;"></span>');
    //    var list = $("#ClassID").html();
    //    $('#example_length').append(

    //        '<div class="col-md-1 col-lg-1" style="width:0%; padding-left:1px;">' +
    //        '<div class="d-bar"></div>' +
    //        '</div>'
    //          +
    //       '<div class="col-md-3 col-lg-3">' +
    //       '<div class="col-md-6" style="padding:0px; margin-top:0px">' +
    //       '<lable class="control-label">Select Class</lable>' +
    //       '</div>' +
    //       '<div class="col-md-6">' +
    //       '<select class="form-control  input-sm" id="Class" style="margin-top:-4px" name="ClassID" onclick="class_click(this)">' + list +
    //       '</select>' +
    //       '</div>' +

    //       '<div class="col-md-2 pull-right !important">' +
    //      '<input type="button" class="form-control" id="cre" onclick="Disabled()" value="Disabled" style="border-radius:45px;border-color:#128edb;color:#128edb;background-color:#ffffff" />' +
    //      '</div>' +
    //         '<div class="col-md-2 pull-right !important">' +
    //      '<input type="button" class="form-control" id="cre" onclick="Create()" value="Create" style="border-radius:45px;border-color:#128edb;color:#128edb;background-color:#ffffff" />' +
    //      '</div>' +
    //        '<div class="col-md-2 pull-right !important">' +
    //      '<input type="button" value="Refresh"  class="form-control" id="refresh" onclick="Refresh()" style="border-radius:45px;border-color:#21cd54;color:#21cd54;background-color:#ffffff" />' +
    //      '</div>');
    //    $("#Class").prepend("<option value='0' selected>All</option>");
    //}

</script>


<style>
    #cre:hover {
        background-color: #128edb !important;
        color: #ffffff !important;
    }

    #refresh:hover {
        background-color: #21cd54 !important;
        color: #ffffff !important;
    }

    #example tr > :nth-child(3) {
        /*display: none;*/
    }

    .table tr td:nth-child(4) {
        text-align: right
    }

    .table tr td:nth-child(2) {
        padding-top: 15px !important;
    }
</style>


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body p-5">




                <div class="box box-primary">
                    <div class="box-body">
                        <div style="display: none">
                            @*@Html.DropDownList("ClassID", null, htmlAttributes: new { @class = "form-control" })*@
                        </div>
                        <div class="table-responsive">
                            <input type="hidden" id="StudentCreatedMsg" name="name" value="@TempData["StudentCreated"]" />
                            <input type="hidden" id="StudentUpdatedMsg" name="name" value="@TempData["StudentUpdated"]" />

                            <table class="table hover table-bordered" id="example">
                                <thead>
                                    <tr>
                                        <th>
                                            Name
                                        </th>
                                        <th>
                                            RollNo
                                        </th>
                                        <th>
                                            Phone
                                        </th>
                                        <th>
                                            Joining Date
                                        </th>
                                        <th>
                                            Class
                                        </th>
                                        <th>
                                            Fee
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id="body">
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>
                                            Name
                                        </th>
                                        <th>
                                            RollNo
                                        </th>
                                        <th>
                                            Phone
                                        </th>
                                        <th>
                                            Joining Date
                                        </th>
                                        <th>
                                            Class
                                        </th>
                                        <th>
                                            Fee
                                        </th>
                                    </tr>
                                </tfoot>


                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    $(document).ready(function () {


    })
</script>