
@{
    ViewBag.Title = "StudentClass";
    Layout = "~/Views/Shared/_BranchAdminDashboardLayout.cshtml";
}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
<style>

    select.form-control option:first-child {
        color: black !important;
    }
</style>

@using (Html.BeginForm("StudentEntrollment", "AspnetStudents", FormMethod.Post))
{

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body p-5">

                    @Html.AntiForgeryToken()


                    <div class="col-md-6 pl-5 pr-5  border-color-sea">

                        <div class="form-group bmd-form-group my-3 is-filled">
                            <label class="bmd-label-floating">Select Student <span class="red-mark">*</span> </label>
                            @Html.DropDownList("StudentList", null, "Select Student", htmlAttributes: new { @class = "form-control select2dropdown", @required = true })
                        </div>

                        <div class="form-group bmd-form-group my-3 is-filled">
                            <label class="bmd-label-floating">Select Class <span class="red-mark">*</span> </label>
                            @Html.DropDownList("ClassId", null, "Select Class", htmlAttributes: new { @class = "form-control", @required = true })

                        </div>



                        <div class="form-row mt-3">
                            <div class="form-group col-md-12 bmd-form-group">
                                <label for="" class="bmd-label-static pl-2">Select Section*</label>
                                <select class="form-control" id="SectionId" name="SectionId" required></select>
                            </div>
                        </div>

                        <div class="form-row mt-3">
                            <div class="form-group col-md-12 bmd-form-group">

                                <span id="Error" style="color:red"></span>

                            </div>
                        </div>




                    </div><!--End Column-->



                    <div class="col-md-12 pl-5 pr-5  border-color-sea">



                        <div class="form-group">

                            <div class="col-md-6">
                                <div class="box box-primary">
                                    <div class="box-header with-border"><h3 class="orange">Courses:<span class="red-mark">*</span></h3></div>

                                    <div class="box-body">

                                        @*@Html.ListBox("TopicId", null, htmlAttributes: new { @class = "form-control", @style = "height:400px;" })*@
                                        <select multiple style="height: 400px; overflow-x: scroll" class="form-control" id="Courses" name="Courses" required></select>


                                    </div>

                                </div>
                            </div>




                        </div>
                    </div>
                    <br />

                    <div class="col-md-8 pl-5 pr-5 ">

                        <button type="submit" id="submit" class="btn btn-primary  rounded rounded-lg">  Save  </button>
                        <button type="button" id="btnCancel" class="btn btn-primary rounded rounded-lg bg-transparent text-muted shadow-none mr-3">
                            <i class="material-icons mr-2">cached</i>  Cancel
                        </button>

                    </div>

                </div>
            </div>
        </div>
    </div>
}

<script>

    var BranchClassSectionId = 0;
    var CourseIds = [];
    $(document).ready(function () {

        $("#PageHeader").html("Student Courses");

        $("#BreadCrumbs").append(' <li> <a href="#"> Home </a> <span>&gt;</span></li>');
        $("#BreadCrumbs").append(' <li class="active"><a id="BreadCrumps1" href="#">Student Courses</a></li>');


        $("#StudentList").change(function () {

            var Student = $(this).val();
            var StudentClassId = "";
            $("#Courses").html("");

            $("#Error").html("");
            $('#ClassId option[value=""]').prop('selected', true);
            CourseIds = [];

            $("#SectionId").html("");

            if (Student != "") {

                $.ajax({

                    type: "POST",
                    url: "/AspNetStudents/CheckStudentClassAndCourses?StudentId=" + Student,

                    success: function (data) {
                        
                        $("#Error").html("");

                        StudentClassId = data.ClassId;

                        if (data.IsStudentEntroll == "No") {

                            $("#submit").prop('disabled', false);

                            $("#Error").html("");

                        } else {

                            $("#Error").html("Selected Student is Already Enrolled in " + data.IsStudentEntroll);
                            $('#ClassId').val(data.BranchClassId);
                            $("#ClassId").change();
                          
                            BranchClassSectionId = data.BranchClassSectionId;

                            $.each(data.CourseIds, function (index, val) {
                             
                                CourseIds.push(val);
                            });

                        }
                      
                    }
                })

            }

        })

        $("#SectionId").change(function () {


            BranchClassSectionId = 0;

            $("#Courses option").each(function () {

                this.selected = false;

            });
        })

        $('#ClassId').change(function () {

            
            CourseIds = [];
            BranchClassSectionId = 0;

            var StudentClassId = $(this).val();
            getSections(StudentClassId);
            getCourses(StudentClassId);

        });

       

        //$("#saveBtn").click(function () {

        //    var UserId = $("#StudentList").val();
        //    var ClassId = $("#ClassId").val();
        //    var ClassId = $("#SectionId").val();



        //    $.ajax({

        //        type: "POST",
        //        url: '/AspNetStudents/StudentEntrollment',
        //        data: { "UserId": UserId, "ClassId": ClassId },
        //        success: function () {

        //            // alert("success");
        //            //  window.location.href = '/GrandTotal/StudentFee/';

        //            window.location.href = "AspnetStudents/StudentIndex"
        //        }



        //    })


        //})
        $('.select2dropdown option[value=""]').removeAttr("selected");
        var data1 = $('.select2dropdown').select2()
            .on("select2:select", function (e) {
                var selected_element = $(e.currentTarget);
                var select_val = selected_element.val();
              //  var id = $(this).children(".select2-hidden-accessible").context.id;
            });

    })//end of  document ready


    function getSections(id) {

        
        var check = BranchClassSectionId;
        CourseIds = [];
        var classId = id;
        if (classId != "") {

            $.ajax({
                type: "POST",
                cache: false,
                url: "/AspNetStudents/GetSections?ClassId=" + classId,
                processData: false,
                contentType: false,
                success: function (data) {

                    var sch = JSON.parse(data);
                    console.log(sch);
                    var $el = $("#SectionId");
                    $el.empty();
                    if (sch.length > 0) {
                        

                        $el.append($("<option></option>")
                            .attr("value", "").text('Select Section'));
                        for (i = 0; i < sch.length; i++) {

                            $el.append($("<option></option>")
                                .attr("value", sch[i].Id).text(sch[i].Name));
                        }
                    }
                    else {
                        $el.append($("<option></option>")
                            .attr("value", '').text('Select'));
                    }

                    if (BranchClassSectionId != 0) {
                
                        $('#SectionId option[value="' + BranchClassSectionId + '"]').prop('selected', true);
                   }


                }//end of success method
            });

        }
        else {

            var $el = $("#SectionId");
            $el.empty();
        }

    }

    function getCourses(id) {

        

        var check = CourseIds;
        var ClassId = id;


        if (ClassId != "") {

            $.ajax({

                type: "POST",
                url: "/AspNetStudents/GetCourses?ClassId=" + ClassId,
                processData: false,
                contentType: false,
                //data: { "SubjectId": SubjectId },
                success: function (data) {

                    
                    // $('#TopicId').html('');
                    //$('#QuestionID').html('');
                    var sch = JSON.parse(data);
                    //$.each(data, function (i, item) {

                    //    debugger
                    //    // var classname = $("#ClassID option[value='" + item.ClassID + "']").text();
                    //    $('#TopicId').append('<option value=' + item.Id + '>' + item.Name + ' </option>');

                    //});
                    var $el = $("#Courses");
                    $el.empty();

                    if (sch.length > 0) {
                        for (i = 0; i < sch.length; i++) {

                            $el.append($("<option></option>")
                                .attr("value", sch[i].Id).text(sch[i].Name));
                        }
                    }
                    else {
                        $el.append($("<option></option>")
                            .attr("value", '').text('Select Subjects'));
                    }

                    if (CourseIds != "") {

                        //$.each()

                        $.each(CourseIds, function (index, val) {

                            $("#Courses").find("option[value=" + val + "]").prop("selected", "selected");

                        })


                    }


                }//end of success method


            })
        }
        else {

            var $e2 = $("#Courses");
            $e2.empty();
        }

    }
</script>



<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>