
@{
    ViewBag.Title = "BalanceSheet";
    Layout = "~/Views/Shared/_AccountantDashboardLayout.cshtml";
}

<style>
    .bold_text {
        font-weight: bold;
    }

    .fsize {
        font-size: 14px;
    }

    .fcolor {
        color: #00b8ec;
    }

    .hr_margin {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    hr:hover {
        background: #00b8ec;
    }
</style>


<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">


<div class="col-md-12">


    <div class="col-md-12">


        <h2 style="color:#00b8ec;display:inline-block">Summary </h2>

        <label>From</label>
        <input type="hidden" id="FromDate">
        <img src="~/Content/Images/calendar.png" id="FromDateTrigger" width="25">

        <label>To</label>

        <input type="hidden" id="ToDate">
        <img src="~/Content/Images/calendar.png" id="ToDateTrigger" width="25">


        <br />
        <div id="DateToView">

        </div>


    </div>

    @*<div class="col-md-6 pull-right" style="">

            <h4 style="color:#00b8ec">Profit and Loss Statement</h4>

        </div>
        <div style="clear:both">

        </div>*@

</div>

<br />

<div class="col-md-12">

    <div class="col-md-6 pull-left" style="">
        <div class="pull-left">

            <h4 style="color:#00b8ec;">Balance Sheet</h4>
        </div>

        <div class="pull-right">

            <select style="width:200px;margin-bottom:5px" class="form-control" id="BranchId" name="BranchId" required></select>
        </div>


    </div>

    <div class="col-md-6 pull-right" style="">

        <h4 style="color:#00b8ec">Profit and Loss Statement</h4>

    </div>

    <div style="clear:both">

    </div>


</div>


<div class="col-md-12">
    <div class="col-md-6 pull-left">
        <div id="Assets" style="background: white;
        padding: 20px;
        border-radius: 5px;
">

            <div id="AssetsHead">

                <div class="pull-left">

                    <span class="bold_text">Assests</span>
                </div>

                <div class="pull-right">
                    <span class="bold_text" id="AssestsTotal"> 0.000 PKR </span>
                </div>

            </div>
            <br />
            <hr />


            <div style="clear:both">

            </div>

        </div>

        <br />
        <div id="Liabilities" style=" background: white; padding: 20px; border-radius: 5px; ">

            <div id="LiabilitiesHead">

                <div class="pull-left">

                    <span class="bold_text">Liabilities</span>
                </div>

                <div class="pull-right">
                    <span class="bold_text" id="LiabilitiesTotal"> 0 PKR </span>
                </div>

            </div>

            <br />
            <hr />

            <div style="clear:both">

            </div>

        </div>

        <br />

        <div id="Equity" style=" background: white; padding: 20px; border-radius: 5px; ">

            <div id="EquityHead">

                <div class="pull-left">

                    <span class="bold_text">Equity</span>
                </div>

                <div class="pull-right">
                    <span class="bold_text" id="EquityTotal"> 0 PKR </span>
                </div>

            </div>

            <br />
            <hr />



            <div style="clear:both">

            </div>

        </div>
    </div>



    <div class="col-md-6 pull-right">
        <div id="Income" style=" background: white; padding: 20px; border-radius: 5px; ">

            <div id="IncomeHead">

                <div class="pull-left">

                    <span class="bold_text">Income</span>
                </div>

                <div class="pull-right">
                    <span class="bold_text" id="IncomeTotal"> 0.000 PKR </span>
                </div>

            </div>


            <br />
            <hr class="" />
            <div style="clear:both"></div>

        </div>

        <br />
        <div id="Expense" style=" background: white; padding: 20px; border-radius: 5px; ">

            <div id="ExpenseHead">

                <div class="pull-left">

                    <span class="bold_text">Less Expense</span>
                </div>

                <div class="pull-right">
                    <span class="bold_text" id="ExpenseTotal"> 70,0000.00 PKR </span>
                </div>

            </div>

            <br />
            <hr />



            <div style="clear:both">

            </div>

        </div>

        <br />

        <div id="NetProfit" style=" background: white; padding: 20px; border-radius: 5px; ">

            <div id="NetProfitHead">

                <div class="pull-left">

                    <span class="bold_text">NetProfit</span>
                </div>

                <div class="pull-right">
                    <span class="bold_text" id="NetTotal"> 000000.00 PKR </span>
                </div>

            </div>



            <div style="clear:both">

            </div>

        </div>
    </div>


</div>


<script>

    $(document).ready(function () {


        $("#BreadCrumbs").append(' <li> <a href="/Account/Dashboard"> Home </a> <span>&gt;</span></li>');
        $("#BreadCrumbs").append(' <li class="active"><a id="BreadCrumps1" href="#">Summary</a></li>');
        var AssetsTotal = 0;
        var LiabilitiesTotal = 0;
        var EquityTotal = 0;
        var IncomeTotal = 0;
        var ExpenseTotal = 0;
        var NetTotal = 0;



        $('#FromDate').datepicker({
            dateFormat: 'yy-mm-dd'
        });
        $('#ToDate').datepicker({
            dateFormat: 'yy-mm-dd'
        });


        $(function () {
            $('#FromDate').datepicker();
            $('#FromDateTrigger').click(function () {

                $('#FromDate').datepicker('show');

            });
        });


        $(function () {
            $('#ToDate').datepicker();
            $('#ToDateTrigger').click(function () {

                $('#ToDate').datepicker('show');

            });
        });



        $.ajax({
            type: "POST",
            url: "/ChartOfAccounts/GetChart1",
            success: function (data) {
                $("#SubmitTable").append('');

                $.each(data, function (i, item) {

                    var head = data[i];

                    if (head.HeadName == "Assets") {

                        var ledger = head.ledger;

                        $("#AssetsHead").attr('title', head.HeadId);


                        for (var i = 0; i < ledger.length; i++) {

                            var v = 'AssetsHead';

                            AssetsTotal = AssetsTotal + ledger[i].Balance;

                            if (ledger[i].ledgerGroup.GroupName != null) {


                                $("#AssetsHead").after("<div class ='AssetsHeadElement'><br>  <hr class='hr_margin' />  <div class='pull-left'><span onclick='REDIRECTLedger('assetshead')' class='fsize'>" + ledger[i].LedgerName + " (" + ledger[i].ledgerGroup.GroupName + ")  </span> </div><div class='pull-right fcolor'><span class='fsize'> " + ledger[i].Balance + " </span></div></div>");

                            }
                            else {
                                $("#AssetsHead").after("<div class ='AssetsHeadElement'><br>  <hr class='hr_margin' />  <div class='pull-left'><span onclick='REDIRECTLedger('assetshead')' class='fsize'>" + ledger[i].LedgerName + "</span> </div><div class='pull-right fcolor'><span class='fsize'> " + ledger[i].Balance + " </span></div></div>");

                            }


                        }

                        $("#AssestsTotal").html(AssetsTotal + " PKR");

                    }


                    if (head.HeadName == "Liabilities") {

                        var ledger = head.ledger;



                        $("#LiabilitiesHead").attr('title', head.HeadId);

                        for (var i = 0; i < ledger.length; i++) {

                            LiabilitiesTotal = LiabilitiesTotal + ledger[i].Balance;


                            if (ledger[i].ledgerGroup.GroupName != null) {


                                $("#LiabilitiesHead").after("<div class ='LiabilitiesHeadElement'><br>  <hr class='hr_margin' />  <div class='pull-left'><span  class='fsize'>" + ledger[i].LedgerName + " (" + ledger[i].ledgerGroup.GroupName + ")  </span> </div><div class='pull-right fcolor'><span class='fsize'> " + ledger[i].Balance + " </span></div></div>");

                            }
                            else {

                                $("#LiabilitiesHead").after("<div class ='LiabilitiesHeadElement'><br>  <hr class='hr_margin' />  <div class='pull-left'><span class='fsize'>" + ledger[i].LedgerName + "</span> </div><div class='pull-right fcolor'><span class='fsize'> " + ledger[i].Balance + " </span></div></div>");

                            }

                        }

                        $("#LiabilitiesTotal").html(LiabilitiesTotal + " PKR");


                    }

                    if (head.HeadName == "Equity") {
                        $("#EquityHead").attr('title', head.HeadId);
                        var ledger = head.ledger;


                        for (var i = 0; i < ledger.length; i++) {

                            EquityTotal = EquityTotal + ledger[i].Balance;


                            if (ledger[i].ledgerGroup.GroupName != null) {

                                $("#EquityHead").after("<div class ='EquityHeadElement'><br>  <hr class='hr_margin' />  <div class='pull-left'><span  class='fsize'>" + ledger[i].LedgerName + " (" + ledger[i].ledgerGroup.GroupName + ")  </span> </div><div class='pull-right fcolor'><span class='fsize'> " + ledger[i].Balance + " </span></div></div>");
                            }
                            else {


                                $("#EquityHead").after("<div class ='EquityHeadElement'><br>  <hr class='hr_margin' />  <div class='pull-left'><span class='fsize'>" + ledger[i].LedgerName + "</span> </div><div class='pull-right fcolor'><span class='fsize'> " + ledger[i].Balance + " </span></div></div>");
                            }

                        }

                        $("#EquityTotal").html(EquityTotal + " PKR");



                    }

                    if (head.HeadName == "Expense") {

                        var ledger = head.ledger;
                        $("#ExpenseHead").attr('title', head.HeadId);


                        for (var i = 0; i < ledger.length; i++) {

                            ExpenseTotal = ExpenseTotal + ledger[i].Balance;


                            if (ledger[i].ledgerGroup.GroupName != null) {

                                $("#ExpenseHead").after("<div class ='ExpenseHeadElement'><br>  <hr class='hr_margin' />  <div class='pull-left'><span  class='fsize'>" + ledger[i].LedgerName + " (" + ledger[i].ledgerGroup.GroupName + ")  </span> </div><div class='pull-right fcolor'><span class='fsize'> " + ledger[i].Balance + " </span></div></div>");
                            }
                            else {

                                $("#ExpenseHead").after("<div class ='ExpenseHeadElement'><br>  <hr class='hr_margin' />  <div class='pull-left'><span class='fsize'>" + ledger[i].LedgerName + "</span> </div><div class='pull-right fcolor'><span class='fsize'> " + ledger[i].Balance + " </span></div></div>");
                            }

                        }

                        $("#ExpenseTotal").html(ExpenseTotal + " PKR");


                    }

                    if (head.HeadName == "Income") {

                        var ledger = head.ledger;
                        $("#IncomeHead").attr('title', head.HeadId);


                        for (var i = 0; i < ledger.length; i++) {

                            IncomeTotal = IncomeTotal + ledger[i].Balance;

                            if (ledger[i].ledgerGroup.GroupName != null) {

                                $("#IncomeHead").after("<div class ='IncomeHeadElement'><br>  <hr class='hr_margin' />  <div class='pull-left'><span  class='fsize'>" + ledger[i].LedgerName + " (" + ledger[i].ledgerGroup.GroupName + ")  </span> </div><div class='pull-right fcolor'><span class='fsize'> " + ledger[i].Balance + " </span></div></div>");
                            }
                            else {


                                $("#IncomeHead").after("<div class ='IncomeHeadElement'><br>  <hr class='hr_margin' />  <div class='pull-left'><span class='fsize'>" + ledger[i].LedgerName + "</span> </div><div class='pull-right fcolor'><span class='fsize'> " + ledger[i].Balance + " </span></div></div>");
                            }

                        }
                        $("#IncomeTotal").html(IncomeTotal + " PKR");



                    }

                })//each function
                NetTotal = IncomeTotal - ExpenseTotal;

                $("#NetTotal").html(NetTotal + " PKR");

            } //success function
        }) //ajax call


        $("#FromDate").change(function () {


            var FromDate = $(this).val();
            var ToDate = $("#ToDate").val();

            if (FromDate != "" && ToDate != "") {

                // $("#DateToView").html('<h5><span id="FromDateView"> ' + FromDate + ' </span> to <span id="ToDateView">' + ToDate + ' </span></h5>');

                var d = new Date(FromDate);
                var day = d.getDate();
                var month = d.getMonth() + 1;
                var year = d.getFullYear();

                var monthName = GetMonthName(month);

                var FromDateFormat = day + "-" + monthName + "-" + year;


                var d1 = new Date(ToDate);
                var day1 = d1.getDate();
                var month1 = d1.getMonth() + 1;
                var year1 = d1.getFullYear();

                var monthName1 = GetMonthName(month1);

                var ToDateFormat = day1 + "-" + monthName1 + "-" + year1;


                $("#DateToView").html('<h5><span id="FromDateView"> ' + FromDateFormat + ' </span> to <span id="ToDateView">' + ToDateFormat + ' </span></h5>');



                GetBalanceSheet(FromDate, ToDate);

                var BranchId = $("#BranchId").val();

                if (BranchId != "") {
                    GetProfitAndLoss();
                }
            }

        })

        $("#ToDate").change(function () {
            debugger
            var ToDate = $(this).val();
            var FromDate = $("#FromDate").val();

            if (FromDate != "" && ToDate != "") {


                var d = new Date(FromDate);
                var day = d.getDate();
                var month = d.getMonth() + 1;
                var year = d.getFullYear();

                var monthName = GetMonthName(month);

                var FromDateFormat = day + "-" + monthName + "-" + year;


                var d1 = new Date(ToDate);
                var day1 = d1.getDate();
                var month1 = d1.getMonth() + 1;
                var year1 = d1.getFullYear();

                var monthName1 = GetMonthName(month1);

                var ToDateFormat = day1 + "-" + monthName1 + "-" + year1;


                $("#DateToView").html('<h5><span id="FromDateView"> ' + FromDateFormat + ' </span> to <span id="ToDateView">' + ToDateFormat + ' </span></h5>');

                GetBalanceSheet(FromDate, ToDate);

                var BranchId = $("#BranchId").val();

                if (BranchId != "") {
                    GetProfitAndLoss();
                }
            }

        })

        $("#BranchId").change(function () {

            GetProfitAndLoss();

        })

        $.ajax({
            type: "POST",
            cache: false,
            url: "/NonRecurringFee/AllBranches",
            processData: false,
            contentType: false,
            success: function (data) {
                var sch = JSON.parse(data);
                console.log(sch);
                var $el = $("#BranchId");
                $el.empty();
                if (sch.length > 0) {
                    $el.append($("<option></option>")
                        .attr("value", "").text('All Branches'));
                    for (i = 0; i < sch.length; i++) {

                        //if (sch[i].Name != 'Test Branch') {

                        $el.append($("<option></option>")
                            .attr("value", sch[i].Id).text(sch[i].Name));
                        // }

                    }
                }
                else {
                    $el.append($("<option></option>")
                        .attr("value", '').text('Select Branch'));
                }
            }
        });

    })//document ready



    function GetMonthName(monthNumber) {
        var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
        return months[monthNumber - 1];
    }
    function GetBalanceSheet(FromDate, ToDate) {

        debugger
        $.ajax({
            type: "POST",
            url: "/ChartOfAccounts/GetBalanceSheet",
            data: { "FromDate": FromDate, "ToDate": ToDate },
            success: function (data) {
                $("#SubmitTable").append('');

                $.each(data, function (i, item) {

                    var head = data[i];

                    if (head.HeadName == "Assets") {

                        var ledger = head.ledger;

                        $("#AssetsHead").attr('title', head.HeadId);

                        $(".AssetsHeadElement").html("");
                        AssetsTotal = 0;
                        for (var i = 0; i < ledger.length; i++) {

                            var v = 'AssetsHead';

                            AssetsTotal = AssetsTotal + ledger[i].Balance;

                            if (ledger[i].ledgerGroup.GroupName != null) {


                                $("#AssetsHead").after("<div class ='AssetsHeadElement'><br>  <hr class='hr_margin' />  <div class='pull-left'><span onclick='REDIRECTLedger('assetshead')' class='fsize'>" + ledger[i].LedgerName + " (" + ledger[i].ledgerGroup.GroupName + ")  </span> </div><div class='pull-right fcolor'><span class='fsize'> " + ledger[i].Balance + " </span></div></div>");

                            }
                            else {
                                $("#AssetsHead").after("<div class= 'AssetsHeadElement'><br>  <hr class='hr_margin' />  <div class='pull-left'><span onclick='REDIRECTLedger('assetshead')' class='fsize'>" + ledger[i].LedgerName + "</span> </div><div class='pull-right fcolor'><span class='fsize'> " + ledger[i].Balance + " </span></div></div>");

                            }


                        }

                        $("#AssestsTotal").html(AssetsTotal + " PKR");

                    }


                    if (head.HeadName == "Liabilities") {

                        var ledger = head.ledger;



                        $("#LiabilitiesHead").attr('title', head.HeadId);

                        $(".LiabilitiesHeadElement").html("");
                        LiabilitiesTotal = 0;
                        for (var i = 0; i < ledger.length; i++) {

                            LiabilitiesTotal = LiabilitiesTotal + ledger[i].Balance;


                            if (ledger[i].ledgerGroup.GroupName != null) {


                                $("#LiabilitiesHead").after("<div class ='LiabilitiesHeadElement'><br>  <hr class='hr_margin' />  <div class='pull-left'><span  class='fsize'>" + ledger[i].LedgerName + " (" + ledger[i].ledgerGroup.GroupName + ")  </span> </div><div class='pull-right fcolor'><span class='fsize'> " + ledger[i].Balance + " </span></div></div>");

                            }
                            else {

                                $("#LiabilitiesHead").after("<div class ='LiabilitiesHeadElement'><br>  <hr class='hr_margin' />  <div class='pull-left'><span class='fsize'>" + ledger[i].LedgerName + "</span> </div><div class='pull-right fcolor'><span class='fsize'> " + ledger[i].Balance + " </span></div></div>");

                            }

                        }

                        $("#LiabilitiesTotal").html(LiabilitiesTotal + " PKR");


                    }

                    if (head.HeadName == "Equity") {
                        $("#EquityHead").attr('title', head.HeadId);
                        var ledger = head.ledger;

                        $(".EquityHeadElement").html("");
                        EquityTotal = 0;

                        for (var i = 0; i < ledger.length; i++) {

                            EquityTotal = EquityTotal + ledger[i].Balance;


                            if (ledger[i].ledgerGroup.GroupName != null) {

                                $("#EquityHead").after("<div class ='EquityHeadElement'><br>  <hr class='hr_margin' />  <div class='pull-left'><span  class='fsize'>" + ledger[i].LedgerName + " (" + ledger[i].ledgerGroup.GroupName + ")  </span> </div><div class='pull-right fcolor'><span class='fsize'> " + ledger[i].Balance + " </span></div></div>");
                            }
                            else {


                                $("#EquityHead").after("<div class ='EquityHeadElement'><br>  <hr class='hr_margin' />  <div class='pull-left'><span class='fsize'>" + ledger[i].LedgerName + "</span> </div><div class='pull-right fcolor'><span class='fsize'> " + ledger[i].Balance + " </span></div></div>");
                            }

                        }

                        $("#EquityTotal").html(EquityTotal + " PKR");



                    }

                    if (head.HeadName == "Expense") {

                        var ledger = head.ledger;
                        $("#ExpenseHead").attr('title', head.HeadId);

                        $(".ExpenseHeadElement").html("");
                        ExpenseTotal = 0;
                        for (var i = 0; i < ledger.length; i++) {

                            ExpenseTotal = ExpenseTotal + ledger[i].Balance;


                            if (ledger[i].ledgerGroup.GroupName != null) {

                                $("#ExpenseHead").after("<div class ='ExpenseHeadElement'><br>  <hr class='hr_margin' />  <div class='pull-left'><span  class='fsize'>" + ledger[i].LedgerName + " (" + ledger[i].ledgerGroup.GroupName + ")  </span> </div><div class='pull-right fcolor'><span class='fsize'> " + ledger[i].Balance + " </span></div></div>");
                            }
                            else {

                                $("#ExpenseHead").after("<div class ='ExpenseHeadElement'><br>  <hr class='hr_margin' />  <div class='pull-left'><span class='fsize'>" + ledger[i].LedgerName + "</span> </div><div class='pull-right fcolor'><span class='fsize'> " + ledger[i].Balance + " </span></div></div>");
                            }

                        }

                        $("#ExpenseTotal").html(ExpenseTotal + " PKR");


                    }

                    if (head.HeadName == "Income") {

                        var ledger = head.ledger;
                        $("#IncomeHead").attr('title', head.HeadId);

                        $(".IncomeHeadElement").html("");
                        IncomeTotal = 0;
                        for (var i = 0; i < ledger.length; i++) {

                            IncomeTotal = IncomeTotal + ledger[i].Balance;

                            if (ledger[i].ledgerGroup.GroupName != null) {

                                $("#IncomeHead").after("<div class ='IncomeHeadElement'><br>  <hr class='hr_margin' />  <div class='pull-left'><span  class='fsize'>" + ledger[i].LedgerName + " (" + ledger[i].ledgerGroup.GroupName + ")  </span> </div><div class='pull-right fcolor'><span class='fsize'> " + ledger[i].Balance + " </span></div></div>");
                            }
                            else {


                                $("#IncomeHead").after("<div class ='IncomeHeadElement'><br>  <hr class='hr_margin' />  <div class='pull-left'><span class='fsize'>" + ledger[i].LedgerName + "</span> </div><div class='pull-right fcolor'><span class='fsize'> " + ledger[i].Balance + " </span></div></div>");
                            }

                        }
                        $("#IncomeTotal").html(IncomeTotal + " PKR");



                    }

                })//each function
                NetTotal = 0;
                NetTotal = IncomeTotal - ExpenseTotal;

                $("#NetTotal").html(NetTotal + " PKR");

            }
        })
    }





    function GetProfitAndLoss() {
        var BranchId = $("#BranchId").val();
        var FromDate = $("#FromDate").val();
        var ToDate = $("#ToDate").val();
        if (BranchId != "") {
            $.ajax({
                type: "POST",
                url: "/ChartOfAccounts/GetProfitAndLoss",
                data: { "BranchId": BranchId, "FromDate": FromDate, "ToDate": ToDate },
                success: function (data) {

                    debugger

                    $.each(data, function (i, item) {

                        var head = data[i];

                        if (head.HeadName == "Expense") {

                            var ledger = head.ledger;
                            $("#ExpenseHead").attr('title', head.HeadId);

                            $(".ExpenseHeadElement").html("");
                            ExpenseTotal = 0;
                            for (var i = 0; i < ledger.length; i++) {

                                ExpenseTotal = ExpenseTotal + ledger[i].Balance;


                                if (ledger[i].ledgerGroup.GroupName != null) {

                                    $("#ExpenseHead").after("<div class ='ExpenseHeadElement'><br>  <hr class='hr_margin' />  <div class='pull-left'><span  class='fsize'>" + ledger[i].LedgerName + " (" + ledger[i].ledgerGroup.GroupName + ")  </span> </div><div class='pull-right fcolor'><span class='fsize'> " + ledger[i].Balance + " </span></div></div>");
                                }
                                else {

                                    $("#ExpenseHead").after("<div class ='ExpenseHeadElement'><br>  <hr class='hr_margin' />  <div class='pull-left'><span class='fsize'>" + ledger[i].LedgerName + "</span> </div><div class='pull-right fcolor'><span class='fsize'> " + ledger[i].Balance + " </span></div></div>");
                                }

                            }

                            $("#ExpenseTotal").html(ExpenseTotal + " PKR");


                        }

                        if (head.HeadName == "Income") {

                            var ledger = head.ledger;
                            $("#IncomeHead").attr('title', head.HeadId);

                            $(".IncomeHeadElement").html("");
                            IncomeTotal = 0;
                            for (var i = 0; i < ledger.length; i++) {

                                IncomeTotal = IncomeTotal + ledger[i].Balance;

                                if (ledger[i].ledgerGroup.GroupName != null) {

                                    $("#IncomeHead").after("<div class ='IncomeHeadElement'><br>  <hr class='hr_margin' />  <div class='pull-left'><span  class='fsize'>" + ledger[i].LedgerName + " (" + ledger[i].ledgerGroup.GroupName + ")  </span> </div><div class='pull-right fcolor'><span class='fsize'> " + ledger[i].Balance + " </span></div></div>");
                                }
                                else {


                                    $("#IncomeHead").after("<div class ='IncomeHeadElement'><br>  <hr class='hr_margin' />  <div class='pull-left'><span class='fsize'>" + ledger[i].LedgerName + "</span> </div><div class='pull-right fcolor'><span class='fsize'> " + ledger[i].Balance + " </span></div></div>");
                                }

                            }
                            $("#IncomeTotal").html(IncomeTotal + " PKR");



                        }
                    })//end of each function

                    NetTotal = 0;
                    NetTotal = IncomeTotal - ExpenseTotal;

                    $("#NetTotal").html(NetTotal + " PKR");


                }// end of success


            })
        }

    }

    function NewGroup() {
        window.location.href = "/LedgerGroups/Create";
    }
    function NewAccount() {
        window.location.href = "/Ledgers/Create";
    }
    function REDIRECTLedger(v) {

    }
    function REDIRECTGroup() {
        $('.table').on('click', 'tbody tr', function () {
            var td = $(this).children("td");
            debugger;
            if ($(td).html() != "No data available in table");
            window.location.href = "/LedgerGroups/Edit?id=" + $(td[2]).html();
        })
    }
</script>
