@{
    ViewBag.Title = "ViewLessonsToAdmin";
    Layout = "~/Views/Shared/_BranchAdminDashboardLayout.cshtml";

}
<style>
    .table-responsive {
        display: block;
        width: 100%;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
</style>

<div class="card">
    <div class="card-body p-4">
        <div class="box box-primary">
            <div class="box-header with-border">
                <div class="box-body">
                    <div style="display: none">
                    </div>
                    <div class="table-responsive">
                        <table id="datatable1" class="table hover  table-bordered" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>
                                        Date Created
                                    </th>
                                    <th>
                                        Start Date
                                    </th>
                                    <th>
                                        Class Name
                                    </th>
                                    <th>
                                        Section Name
                                    </th>
                                    <th>
                                        Subject Name
                                    </th>
                                    <th>
                                        Topic Name
                                    </th>

                                    <th>
                                        Lesson Name
                                    </th>
                                    <th>
                                        Status
                                    </th>

                                </tr>
                            </thead>
                            <tbody id="LessonsList"></tbody>
                            <tfoot>
                                <tr>
                                    <th>
                                        Date Created
                                    </th>
                                    <th>
                                        Start Date
                                    </th>
                                    <th>
                                        Class Name
                                    </th>
                                    <th>
                                        Section Name
                                    </th>
                                    <th>
                                        Subject Name
                                    </th>
                                    <th>
                                        Topic Name
                                    </th>

                                    <th>
                                        Lesson Name
                                    </th>
                                    <th>
                                        Status
                                    </th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>

<style>
    tfoot {
        display: table-header-group;
    }

        tfoot input {
            width: 100%;
            padding: 3px;
            box-sizing: border-box;
        }
</style>

<script>

    $(document).ready(function () {


        $("#PageHeader").html(" Lessons");

        $("#BreadCrumbs").append(' <li> <a href="/BranchAdmin/Index"> Home </a> <span>&gt;</span></li>');
        $("#BreadCrumbs").append(' <li class="active"><a id="BreadCrumps1" href="#"> Lessons</a></li>');

        $('#datatable1 tfoot th').each(function () {
            var title = $(this).text();
            $(this).html('<input type="text" class="round-border input-search" style="border-color:#00b8ec; border-radius:5px;width:100%" placeholder="Search ' + title + '" />');
        });

        $.ajax({
            type: "POST",
            url: "/AspnetLessons/AllLessonForAdmin",
            data: {},

            success: function (data) {

                var status;
                table1.fnClearTable();

                $.each(data, function (index) {

                 
                    if (data[index].LessonIsActive == false && data[index].LessonStatus == false) {
                        status = "InActive";
                    }
                    else if (data[index].LessonIsActive == true && data[index].LessonStatus == true) {
                        status = "Published";
                    }
                    else if (data[index].LessonStatus == true)
                    {
                          status = "Published";
                    }
                    else {
                        status = 'Created';
                    }
                   
                        var value = new Date(parseInt(data[index].LessonDate.replace(/(^.*\()|([+-].*$)/g, '')));
                        var dat = value.getMonth() +
                            1 +
                            "/" +
                            value.getDate() +
                            "/" +
                            value.getFullYear();// + " " +


                        var value1 = new Date(parseInt(data[index].LessonStartDate.replace(/(^.*\()|([+-].*$)/g, '')));
                        var dat1 = value1.getMonth() +
                            1 +
                            "/" +
                            value1.getDate() +
                            "/" +
                            value1.getFullYear();// + " " +
                        // value.getTime().toString();
                        table1.fnAddData([dat + "<input  type=hidden value=" + data[index].LessonId + ">", dat1, data[index].LessonClass, data[index].LessonSection, data[index].LessonSubject, data[index].LessonSubjectTopicName, data[index].LessonName, status]);

                        // table1.fnAddData([data[index].LessonName + "<input  type=hidden value=" + data[index].LessonId + ">", data[index].LessonDuration, data[index].LessonSubjectTopicName, data[index].LessonSubject, data[index].LessonClass, data[index].LessonSection, "Published", data[index].LessonDate]);
                        //    table1.fnAddData([data[index].LessonDate + "<input  type=hidden value=" + data[index].LessonId + ">", data[index].LessonClass, data[index].LessonSection, data[index].LessonSubject, data[index].LessonSubjectTopicName, data[index].LessonName, "Published"]);

                })
                table1.fnDraw();
            }
        })

        $('#datatable1').on('click', 'tbody tr', function () {
            var td = $(this).children("td");
            var LessonId = $(td[0]).children("input").val();

            //alert($(td[0]).html());
            //    var Id = parseInt($(td[0]).html())
            var Id = parseInt(LessonId);

            // alert(Id);
            // alert(Id);
            //userName = userName.trim();
            var url = "/AspnetLessons/Edit?id=" + Id;
            window.open(url, '_blank');
        });



        var table1 = $('#datatable1').dataTable({
            initComplete: function () {
                // Apply the search
                this.api().columns().every(function () {
                    var that = this;

                    $('input', this.footer()).on('keyup change clear', function () {
                        if (that.search() !== this.value) {
                            that.search(this.value).draw();
                        }
                    });
                });
            },
            "order": [[0, "desc"]],
            buttons: [
                {
                    text: ''
                },
                {
                    text: '',
                    action: function (e, dt, button, config) {
                        window.location.href = '#';
                    }
                },
                {
                    text: ''
                }
            ],
            "language": {
                "lengthMenu": "<div class=\"d-flex showEntriesCon\">\n" +
                    "  <div class=\"p-2\">Show </div> <div class=\"showEntries\"> _MENU_\n" +
                    "  </div>\n" +
                    "  </div>",
                "info": "<div class='showingEntriesOfTotal'>Showing <span class=\"text-info\">_START_ to _END_</span> of _TOTAL_ entries</div>",
                "paginate": {
                    "first": "Firstt",
                    "last": "Lastt",
                    "next": ' <img src="~/Content/assets/assets/icons/Arrow2.png" alt=""> ',
                    "previous": ' <img src="~/Content/assets/assets/icons/Arrow1.png" alt=""> '
                }
            },
            "searching": true,
            // dom: '<"class">Blfrtip',
            dom: "<'row mb-3'<'col-sm-12 col-md-2 col-lg-2'l><'col-sm-12 col-md-10 col-lg-10 datatableButtonsCon text-right'Bf>>" +
                "<'row'<'col-sm-12 datatablesData'tr>>" +
                "<'row mt-4'<'col-sm-12 col-md-4 col-lg-6 infoCon'i><'col-sm-12 col-md-8 col-lg-6 pagCon'p>>",
        });

        $("#datatable1_paginate").addClass("pull-right");
        $("#datatable1_filter").hide();
        $('#datatable1 tfoot tr').appendTo('#datatable1 thead');
        //$(".input-search").last().width("75%");
    })//document ready

    
</script>