@{
    ViewBag.Title = "ViewLessonsToAdmin";
    Layout = "~/Views/Shared/_BranchAdminDashboardLayout.cshtml";

}
<style>
    .table-responsive {
        display: block;
        width: 100%;
        Wx ` overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
</style>
@*<link href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.15/css/dataTables.semanticui.min.css" rel="stylesheet" />*@


<div class="card">
    <div class="card-body p-4">
        <div class="box box-primary">
            <div class="box-header with-border">
                <div class="box-body">
                    <div style="display: none">
                    </div>
                    <div class="table-responsive">
                        <table id="datatable1" class="table hover display table-bordered" cellspacing="0">
                            <thead>
                                <tr>


                                    <th class="hidden">
                                               Id
                                    </th>

                                    <th>
                                        Date Created
                                    </th>
                                    <th>
                                        Start Date
                                    </th>
                                    <th>
                                        Class Name
                                    </th>
                                    <th>
                                        Section Name
                                    </th>
                                    <th>
                                        Subject Name
                                    </th>
                                    <th>
                                        Topic Name
                                    </th>

                                    <th>
                                        Lesson Name
                                    </th>
                                    <th>
                                        Status
                                    </th>

                                </tr>
                            </thead>
                            <tbody id="LessonsList"></tbody>
                            <tfoot>
                                <tr>
                                    <th class="hidden">
                                        Id
                                    </th>
                                    <th>
                                        Date Created
                                    </th>
                                    <th>
                                        Start Date
                                    </th>
                                    <th>
                                        Class Name
                                    </th>
                                    <th>
                                        Section Name
                                    </th>
                                    <th>
                                        Subject Name
                                    </th>
                                    <th>
                                        Topic Name
                                    </th>

                                    <th>
                                        Lesson Name
                                    </th>
                                    <th>
                                        Status
                                    </th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>

<style>
    tfoot {
        display: table-header-group;
    }

        tfoot input {
            width: 100%;
            padding: 3px;
            box-sizing: border-box;
        }
</style>


<script>

    $(document).ready(function () {


        $("#PageHeader").html(" Lessons");

        $("#BreadCrumbs").append(' <li> <a href="/BranchAdmin/Index"> Home </a> <span>&gt;</span></li>');
        $("#BreadCrumbs").append(' <li class="active"><a id="BreadCrumps1" href="#"> Lessons</a></li>');

        //$('#datatable1 tfoot th').each(function () {
        //    var title = $(this).text();
        //    $(this).html('<input type="text" class="round-border input-search" style="border-color:#00b8ec; border-radius:5px;width:100%" placeholder="Search ' + title + '" />');
        //});

        //$.ajax({
        //    type: "POST",
        //    url: "/AspnetLessons/AllLessonForAdmin",
        //    data: {},

        //    success: function (data) {

        //        var status;
        //        table1.fnClearTable();

        //        $.each(data, function (index) {


        //            if (data[index].LessonIsActive == false && data[index].LessonStatus == false) {
        //                status = "InActive";
        //            }
        //            else if (data[index].LessonIsActive == true && data[index].LessonStatus == true) {
        //                status = "Published";
        //            }
        //            else if (data[index].LessonStatus == true)
        //            {
        //                  status = "Published";
        //            }
        //            else {
        //                status = 'Created';
        //            }

        //                var value = new Date(parseInt(data[index].LessonDate.replace(/(^.*\()|([+-].*$)/g, '')));
        //                var dat = value.getMonth() +
        //                    1 +
        //                    "/" +
        //                    value.getDate() +
        //                    "/" +
        //                    value.getFullYear();// + " " +


        //                var value1 = new Date(parseInt(data[index].LessonStartDate.replace(/(^.*\()|([+-].*$)/g, '')));
        //                var dat1 = value1.getMonth() +
        //                    1 +
        //                    "/" +
        //                    value1.getDate() +
        //                    "/" +
        //                    value1.getFullYear();// + " " +
        //                // value.getTime().toString();
        //                table1.fnAddData([dat + "<input  type=hidden value=" + data[index].LessonId + ">", dat1, data[index].LessonClass, data[index].LessonSection, data[index].LessonSubject, data[index].LessonSubjectTopicName, data[index].LessonName, status]);

        //                // table1.fnAddData([data[index].LessonName + "<input  type=hidden value=" + data[index].LessonId + ">", data[index].LessonDuration, data[index].LessonSubjectTopicName, data[index].LessonSubject, data[index].LessonClass, data[index].LessonSection, "Published", data[index].LessonDate]);
        //                //    table1.fnAddData([data[index].LessonDate + "<input  type=hidden value=" + data[index].LessonId + ">", data[index].LessonClass, data[index].LessonSection, data[index].LessonSubject, data[index].LessonSubjectTopicName, data[index].LessonName, "Published"]);

        //        })
        //        table1.fnDraw();
        //    }
        //})

        //$('#datatable1').on('click', 'tbody tr', function () {
        //    var td = $(this).children("td");
        //    var LessonId = $(td[0]).children("input").val();

        //    //alert($(td[0]).html());
        //    //    var Id = parseInt($(td[0]).html())
        //    var Id = parseInt(LessonId);

        //    // alert(Id);
        //    // alert(Id);
        //    //userName = userName.trim();
        //    var url = "/AspnetLessons/Edit?id=" + Id;
        //    window.open(url, '_blank');
        //});

        
        $('#datatable1').on('click', 'tbody tr', function () {
            var td = $(this).children("td");
            var LessonId = $(td[0]).html();

            //alert($(td[0]).html());
            //    var Id = parseInt($(td[0]).html())
            var Id = parseInt(LessonId);

            // alert(Id);
            // alert(Id);
            //userName = userName.trim();
            var url = "/AspnetLessons/Edit?id=" + Id;
            window.open(url, '_blank');
        });


        var datatableInstance = $("#datatable1").DataTable({

            "ajax": {
                "url": "/AspnetLessons/AllLessonForAdmin",
                "type": "POST",
                "datatype": "json"
            },
            "columns": [
                {
                    "data": "LessonId", "name": "LessonId" , "class":"hidden",
                },

                {
                    "data": "LessonDate", "name": "LessonDate",
                    "render": function (jsonDate) {

                        var value = new Date(parseInt(jsonDate.replace(/(^.*\()|([+-].*$)/g, '')));
                        var dat = value.getMonth() +
                            1 +
                            "/" +
                            value.getDate() +
                            "/" +
                            value.getFullYear();// + " " +

                        return dat;
                    }

                },
                {
                    "data": "LessonStartDate", "name": "LessonStartDate",
                    "render": function (jsonDate) {

                        var value1 = new Date(parseInt(jsonDate.replace(/(^.*\()|([+-].*$)/g, '')));
                        var dat1 = value1.getMonth() +
                            1 +
                            "/" +
                            value1.getDate() +
                            "/" +
                            value1.getFullYear();// + " " +

                        return dat1;
                    }

                },
                { "data": "LessonClass", "name": "LessonClass" },
                { "data": "LessonSection", "name": "LessonSection" },
                { "data": "LessonSubject", "name": "LessonSubject" },
                { "data": "LessonSubjectTopicName", "name": "LessonSubjectTopicName" },
                { "data": "LessonName", "name": "LessonName" },
                {
                    "data": "LessonStatus1", "name": "LessonStatus1", 

                  
                    "render": function (LessonStatus1) {

                        var status;
                       // alert(LessonStatus);
                       // alert(LessonIsActive);

                        //if (LessonStatus == false && LessonIsActive == false) {
                        //    status = "InActive";
                          
                        //}
                        //else if (LessonStatus == true && LessonIsActive == true) {
                        //    status = "Published";
                        //}
                        //else if (LessonStatus == true) {
                        //    status = "Published";
                        //}
                        //else {
                        //    status = 'Created';
                        //}

                         if (LessonStatus1 == "False-False") {
                            status = "InActive";
                          
                        }
                        else if (LessonStatus1 == "True-True" ) {
                            status = "Published";
                        }
                         else if (LessonStatus1 == "True-False") {

                            status = "Published";
                        }
                        else {
                            status = 'Created';
                        }

                        return status;
                    }
                },

            ],
            "serverSide": "true",
            //"order": [0,"asc"]
            "processing": "true",
            "searchable": "false",
            "language": {

                "processing": "processing... please wait"
            }





        });//end of datatable

        $('#datatable1 tfoot th').each(function () {
            var title = $('#datatable1 thead th').eq($(this).index()).text();
            $(this).html('<input class="round-border input-search" style="border-color:#00b8ec; border-radius:5px;width:100%;  type="text" placeholder="Search ' + title + '" />');
        });


        datatableInstance.columns().every(function () {
            var dataTableColumn = this;

            $(this.footer()).find('input').on('keyup change', function () {
               //   e.preventDefault();
                dataTableColumn.search(this.value).draw();
            });
        });


        $("#datatable1_paginate").addClass("pull-right");
        $("#datatable1_filter").hide();
        $('#datatable1 tfoot tr').appendTo('#datatable1 thead');

    })//document ready


</script>