
@{

    if (User.IsInRole("Accountant"))
    {
        Layout = "~/Views/Shared/_AccountantDashboardLayout.cshtml";
    }
    else if (User.IsInRole("Accounting_Head"))
    {
        Layout = "~/Views/Shared/_AccountHeadDashboardLayout.cshtml";
    }
    else
    {
        Layout = null;
    }
}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
<script>


    count = 1;
    row = [];
    row[0] = 0;

    var type = "";
    $(document).ready(function () {

        AllStudents();

          type = "Dr";
        $("#title").html("");
        $("#title").html("New Receipt");
      

        $("#PageHeader").html("New Bank Entry");
        $("#BreadCrumbs").append(' <li> <a  href="/FinanceSummary/Index"> Home </a> <span>&gt;</span></li>');
        $("#BreadCrumbs").append(' <li> <a href="/FinanceSummary/BankIndex"> Bank </a> <span>&gt;</span></li>');
        $("#BreadCrumbs").append(' <li class="active"><a id="BreadCrumps1" href="#">New Bank Entry</a></li>');

        $("#branch0").prepend("<option value=''>---Select One---</option>").val('');
        $("#rec").click();

        AddBranch(0);
        addAllLedger(0);
        addCashLedger();
        CheckVoucherNo();
        var now = new Date();

        var day = ("0" + now.getDate()).slice(-2);
        var month = ("0" + (now.getMonth() + 1)).slice(-2);
        var today = now.getFullYear() + "-" + (month) + "-" + (day);
        $("#ddate").val(today);


        $('.drop option[value=""]').removeAttr("selected");
        var data1 = $('.drop').select2()
            .on("select2:select", function (e) {
                var selected_element = $(e.currentTarget);
                var select_val = selected_element.val();
                var id = $(this).children(".select2-hidden-accessible").context.id;

            });
    })

    var VoucherDetail =
    {
        Code: '',
        Transaction: '',
        Credit: '',
        BranchId: '',
        StudentId: '',


    };

    var Voucher = {
        VoucherName: '',
        Narration: '',
        Time: '',
        uppercode: '',
        upperdesc: '',
        uppertotal: '',
        VoucherNo: '',
        accounttype: '',
        VoucherDetail: []
    }

    Vouchers = [];


    function SaveVoucher() {
        debugger
        var t = true;
        $("#zero_Error").html("");
        var total = $("#zero").val();
        var name = $("#voucher").val();
        $("#Error_Vocuher").html("");

        if (name == "") {
            $("#Error_Vocuher").html("This field is required");
        }
        else if (total == 0) {

            $("#zero_Error").html("Enter some values");
            $("#submit").prop("disabled", true);
        }

        else {
            Voucher = Object.create(Voucher);
            Voucher.VoucherName = $('#voucher').val();
            Voucher.VoucherNo = $('#VoucherNo').val();
            Voucher.Narration = $('#Naration').val();
            Voucher.Time = $('#ddate').val();
            Voucher.uppercode = $('#uppercode').val();
            Voucher.upperdesc = $('#upperdesc').val();
            Voucher.accounttype = type;
            Voucher.uppertotal = $('#zero').val();

            Voucher.VoucherDetail = [];

            for (var i in row) {
                if (row[i] == null)
                    continue;
                VoucherDetail = Object.create(VoucherDetail);

                var code = "code" + row[i];
                VoucherDetail.Code = document.getElementById(code).value;
                var transaction = "description" + row[i];
                VoucherDetail.Transaction = document.getElementById(transaction).value;
                var credit = "credit" + row[i];
                VoucherDetail.Credit = document.getElementById(credit).value;
                //var branch = "branch" + row[i];
                //VoucherDetail.BranchId = document.getElementById(branch).value;

                var branch = "branch" + row[i];
                var BranchValue = document.getElementById(branch).value;

                if (BranchValue == "") {

                    $("#zero_Error").html("Please Select Branch");
                    t = false;
                    break;
                }
                else {

                    VoucherDetail.BranchId = BranchValue;
                }


                var student = "students" + row[i];
                var StudentIdVal = document.getElementById(student).value;

                var AccountValue = $("#" + code + " option:selected").text();

                if ((AccountValue == "Student Fee" || AccountValue == "Discount" || AccountValue == "Account Receivable") && StudentIdVal == "") {

                    $("#zero_Error").html("Please Select Student");
                    t = false;
                    break;
                }

                if (StudentIdVal == "") {
                    VoucherDetail.StudentId = null;
                }
                else {
                    VoucherDetail.StudentId = StudentIdVal
                }


                if (isNaN(VoucherDetail.Credit)) {
                    $("#zero_Error").html("Enter only numbers");

                    t = false;
                    break;
                }

                Voucher.VoucherDetail.push(VoucherDetail);
            }

            if (t == true) {
                Vouchers = JSON.stringify({ 'Vouchers': Voucher });
                $('.eeniart0017').css("display", "block");

                $.ajax({
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    type: 'POST',
                    url: '/FinanceSummary/AddBankVoucher',
                    data: Vouchers,
                    success: function (data) {
                        $('.eeniart0017').css("display", "none");

                        if (data == 'yes') {
                            window.location.href = "/FinanceSummary/BankIndex";
                        } else {
                            window.location.href = "";
                        }
                    }
                });
            }

        }

    }
    function AddBranch(rowNumber) {
        var id = "#branch" + rowNumber;
        var node = $(id);
        $.ajax({
            type: "POST",
            url: "/Vouchers/SelectListBranch",
            success: function (data) {
                console.log(data);
                $.each(data, function (i, item) {
                    console.log(data.Name);
                    node.append("<option value=" + item.Id + " >" + item.Name + "</option>")

                });

            }
        });
    }
    function NAN(ex) {

        var num = ex.value;
        if (isNaN(num)) {
            $("#zero_Error").html("Enter only numbers");
            $("#submit").prop("disabled", true);
        }
        else {
            $("#zero_Error").html("");
            $("#submit").prop("disabled", false);
        }
    }
    function creditvalue(e) {
        var sum = 0;
        var subdebit = $("#credit").val();
        // var subdebit = e.value;

        if (subdebit == "") {
            subdebit = 0;
        }
        $(".cr").each(function () {

            if (!isNaN(this.value)) {
                sum += +$(this).val();
                $("#zero").val(sum);
                var total = parseInt(subdebit) + sum;
                $("#zero").html(total);

            }
        })

    }
    function journalentries() {
        //var newDiv = document.createElement("div")

        $("#journaldiv").append('<div class="row" style="margin:0px" id="' + count + '">' +
            '<div class="col-md-2">' +
            '<select id="code' + count + '" class="form-control drop" onchange="Codedescription(this)" ></select>' +
            '</div>' +

            '<div class="col-md-2" id="studentsdiv' + count + '" >' +
            '<select id="students' + count + '" class="form-control drop" ></select>' +
            '</div>' +

            '<div id="descriptionDiv' + count + '" class="col-md-2 des" style="padding-left:0px">' +
            '<input  placeholder="Description" type="text" name="Name" id="description' + count + '" class="form-control" />' +
            '</div>' +
            '<div class="col-md-2" style="padding-left:0px">' +
            '<select id="branch' + count + '" class="form-control drop"  ></select>' +
            '</div>' +
            '<div class="col-md-1" style="padding:0px">' +
            '<input placeholder = "Amount" type="text" name="cr" onkeyup="creditvalue()" onblur="NAN(this)" id="credit' + count + '" class="form-control cr amount" />' +
            '</div>' +

            '<div class="col-md-1">' +
            '<button class="btn btn-sm btn-danger minusbutton"  onclick="Remove(' + count + ')"><i class="fa fa-window-close" aria-hidden="true" style="font-size:12px"></i></button>' +
            '</div>' +
            '</div>')
        var id = "#branch" + count;
        var node = $(id);
        node.prepend("<option value=''>---Select One---</option>").val('');
        row[count] = count;
        addAllLedger(count);
        AddBranch(count);
        AddStudents(count);

        count = count + 1;
        $(".drop").select2();
    }
    function Remove(e) {
        var credit = 0;
        if ($("#zero").val() == "") {
            credit = "";
        }
        else {
            var creditvalue = parseInt(document.getElementById("credit" + e).value);
            if (isNaN(creditvalue)) {
                creditvalue = 0;
            }
            credit = parseInt($("#zero").val()) - creditvalue;
        }



        $("#zero").val(credit);

        document.getElementById(e).remove();
        row.splice(e, 1);

    }
    function CheckVoucherNo() {
        $.ajax({
            type: "POST",
            url: "/FinanceSummary/FindVoucherNo",
            success: function (data) {
                $("#VoucherNo").val(data);
            }
        });
    }
    function Codedescription(e) {
        AccountList(e);
        var id = e.value;
        var ledgerid = e.id;
        var number = ledgerid[4];
        var nmnm = "#branch" + number;
        var node = $(nmnm);


        $.ajax({
            type: "POST",
            url: "/Vouchers/CheckaccountHead",
            data: { id: id },
            success: function (data) {
                var flag = data;
                if (flag == true) {

                    //  node.prop("disabled", false);
                }
                else {
                    // node.prop("disabled", true);

                }
            }
        })
    }

    function AccountList(e) {
        debugger
        // alert(e.id);
        var value = $("#" + e.id + " option:selected").text();
        var rowNumber = e.id;
        var result = rowNumber.substring(4);
        if (value == "Student Fee" || value == "Discount" || value == "Account Receivable") {
            $("#studentsdiv" + result).removeClass('hidden');
            $("#descriptionDiv" + result).removeClass();
            $("#descriptionDiv" + result).addClass('col-md-2');
        }
        else {
            // $("#students" + result).val("");
            $("#students" + result).val(null).trigger('change');
            $("#studentsdiv" + result).addClass('hidden');
            $("#descriptionDiv" + result).removeClass();
            $("#descriptionDiv" + result).addClass("col-md-4");
        }
    }
    function addCashLedger() {

        $.ajax({
            type: "POST",
            url: "/FinanceSummary/SelectListLedgersBank",
            success: function (data) {
                $.each(data, function (i, item) {
                    //$("#uppercode").append("<optgroup label="+item.HeadName+" ></optgroup>")
                    $("#uppercode").append("<option value=" + item.Id + " >" + item.Name + "</option>")
                });
            }
        });
    }
    function addAllLedger(rowNumber) {
        var id = "#code" + rowNumber;
        var node = $(id);
        $.ajax({
            type: "POST",
            url: "/FinanceSummary/SelectAllLedgers",
            success: function (data) {
                $.each(data, function (i, item) {
                    var head = data[i];
                    node.append("<optgroup label=" + head.HeadName + " ></optgroup>")
                    var Accountlist = head.accountlist;

                    for (var j = 0; j < Accountlist.length; j++) {
                        node.append("<option value=" + Accountlist[j].Id + " >" + Accountlist[j].Name + "</option>")
                    }

                });
            }
        });
    }
    function Payable() {
        accounttype = "New Payment";
        type = "Cr";
        $("#maindiv").prop("hidden", false);
        $("#title").html("");
        $("#title").html(accounttype);

    }
    function Receivable() {
        accounttype = "New Receipt";
        type = "Dr";
        $("#maindiv").prop("hidden", false);
        $("#title").html("");
        $("#title").html(accounttype);


    }

    function AddStudents(rowNumber) {
        var id = "#students" + rowNumber;
        var node = $(id);
        $.ajax({
            type: "POST",
            url: "/Vouchers/AllStudentList",
            success: function (data) {
                console.log(data);
                node.append("<option value='' >Select One</option>");
                $.each(data, function (i, item) {
                    node.append("<option value=" + item.Id + " >" + item.Name + "</option>");
                });
            }
        })
    }

    function AllStudents() {
        //  var id = "#student" + rowNumber;
        // var node = $(id);
        $.ajax({
            type: "POST",
            url: "/Vouchers/AllStudentList",
            success: function (data) {
                console.log(data);
                $("#students0").append("<option value=''>Select One</option>")
                $("#students1").append("<option value=''>Select One</option>")
                $.each(data, function (i, item) {
                    $("#students0").append("<option value=" + item.Id + " >" + item.Name + "</option>")
                    $("#students1").append("<option value=" + item.Id + " >" + item.Name + "</option>")
                });
            }
        })
    }

</script>
<style>
    .color:hover {
        background-color: #0e72af !important;
    }

    .color2:hover {
        background-color: #dc0000 !important;
    }

    .select2-container--default .select2-selection--single {
        background-color: #fff;
        border-radius: 4px;
        height: 33px;
    }



       @@media print {
        #noPrint1 {
            visibility: hidden;
        }
        #noPrint2
        {
            visibility: hidden;

        }
        #PageHeader

        {
            visibility: hidden;

        }
        #BreadCrumbs
        {
            visibility: hidden;

        }
        .des
        {
            margin-left:50px;
        }
        .amount
        {
             margin-left:50px;
        }
        .totaldiv
        {
         
            margin-left:80px;
        }
        .plusbutton {
            margin-left: 50px;
        }
         .minusbutton
        {
            margin-left:50px;

        }
    }


</style>



<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body p-5">
                <div class="col-md-12">

                    <div>

                        <span style="margin:15px"><b>Bank</b></span>
                        <a href="#" id="rec" onclick="Receivable()">New Receipt /</a>
                        <a href="#" id="pay" onclick="Payable()">New Payment</a>
                    </div>

                    <br />
                    <div class="col-md-2">
                        <span id="title" style="color:#808080;font-size:15px;font-weight:600"></span>
                    </div>

                    <div class="col-md-4">
                        <br />
                        <br />
                        <div class="form-group">
                            <label class="control-label">Date</label><br />
                            <input type="date" class="form-control round-border" id="ddate" />
                            <br />
                        </div>
                    </div>



                    <div class="row" style="margin:0">

                        <div class="col-md-2 ">
                            <label class="control-label">Voucher No</label>

                            <div class="input-group">

                                <input id="VoucherNo" type="text" class="form-control" readonly />
                            </div>

                        </div>



                        <div class="col-md-3">

                            <label class="control-label">Voucher</label><br />
                            <input type="text" class="form-control round-border" id="voucher" />
                            <span id="Error_Vocuher" style="color:red"></span>
                            <br />

                        </div>

                    </div>




                    <div class="col-md-5">
                        <label class="control-label" style="font-weight:600">Narration</label>
                        <input type="text" name="Name" id="Naration" class="form-control " />
                        <br />
                    </div>

                    <div class="row" style="margin:0">

                        <div class="col-md-2">
                            <label for="" class="control-label">Bank Account</label>

                            <select class="form-control drop" id="uppercode" name="uppercode" required></select>

                        </div>

                        <div class="col-md-3">

                            <label class="control-label">Description</label>
                            <input type="text" name="Name" id="upperdesc" class="form-control" />

                        </div>

                    </div>



                    @*<div class="col-md-2">
                            <span>Account</span>
                            <select id='code0' style="width:110px" class='form-control drop' onchange='Codedescription(this)'></select>
                        </div>*@

                    <br />
                    <div class="row" style="margin:0">

                        <div class="col-md-2">
                            <label class="control-label"></label>
                            <select onchange='Codedescription(this)' class="form-control code drop" id="code0" name="uppercode" required></select>

                        </div>

                        <div id="studentsdiv0" class="col-md-2">
                            <label class="control-label "></label>
                            <select id='students0' class='form-control drop'></select>
                        </div>

                        <div class="col-md-2 descriptionDiv0 des" id="descriptionDiv0" style="padding-left:0px">
                            <label class="control-label"></label>
                            <input placeholder="Description" type="text" name="Name" id="description0" class="form-control" />
                        </div>
                        <div class="col-md-2" style="padding-left:0px">
                            <label class="control-label"></label>
                            <select id='branch0' class='form-control drop'></select>
                        </div>

                        <div class="col-md-1" style="padding:0px">
                            <label class="control-label"></label>
                            <input placeholder="Amount" type="text" name="cr" onkeyup="creditvalue(this)" onblur="NAN(this)" id="credit0" class="form-control cr amount" />
                        </div>
                        <div class="col-md-1">
                            <br />
                            <button style="background:#32CD32" class="btn btn-sm btn-default plusbutton" onclick="journalentries()"><i class="fa fa-plus" style="font-size:12px"></i></button>
                        </div>
                    </div>


                    @*<br />
                        <div class="form-group bmd-form-group is-filled">
                            <label class="bmd-label-floating">Description</label>
                            <input type="text" name="Name" id="description0" class="form-control" />
                        </div>*@


                    @*<div class="col-md-2" style="padding-left:0px">
                            <span>Branch</span>
                            <select id='branch0' style="width:135px" class='form-control drop' disabled></select>
                        </div>*@





                    <div id="journaldiv">

                    </div>

                    <div class="row">
                        <div class="col-md-8">

                        </div>

                        <div class="col-md-1 col-md-offset-8 totaldiv" style="padding:0px">
                            <input style="background-color:white;text-align:right !important" type="text" name="total" onblur="NAN(this)" id="zero" class="form-control" readonly />
                        </div>
                        <span id="zero_Error" style="color:red;margin-top:5px !important;margin-left:20px"></span>
                    </div>

                    <div class="col-md-12">
                        <hr />


                        @*<button class="col-md-2 form-control color2" onclick="window.location.href = '/FinanceSummary/BankIndex'" style="border-radius:35px;border:hidden;margin-right:10px;background-color:red;color:white;font-size:11px;width:98px;height:38px;font-family:Montserrat" id="return"><i class="fa fa-arrow-left"></i> &nbsp;&nbsp; Return</button>
        <input class="col-md-2 form-control color" id="submit" onclick="SaveVoucher()" type="submit" value="Save" style="border-radius:35px;color:white;border:hidden;background-color:#128edb;font-size:11px;width:98px;height:38px;font-family:Montserrat" />*@


                        <button id="return" type="button" onclick="window.location.href = '/FinanceSummary/BankIndex'" id="btnCancel" class="btn btn-primary rounded rounded-lg bg-transparent text-muted shadow-none mr-3">
                            <i class="material-icons mr-2">cached</i>  Return
                        </button>

                        <button type="submit" onclick="SaveVoucher()" id="submit" class="btn btn-primary rounded rounded-lg"> Save </button>


                        <button class=" btn btn-default" onclick="window.print()">Print</button>

                    </div>
                    @*</div>*@
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
