
@{
    ViewBag.Title = "InterTransaction";
}

<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />

<style>

    .select2-container--default .select2-selection--single {
        background-color: #fff;
        border-radius: 4px;
        height: 33px;
    }

    .color:hover {
        background-color: #0e72af !important;
    }

    .color2:hover {
        background-color: #dc0000 !important;
    }
</style>
<script>
    $(document).ready(function () {

        $("#PageHeader").html("Inter Account Transaction");

        $("#BreadCrumbs").append(' <li> <a href="/FinanceSummary/Index"> Home </a> <span>&gt;</span></li>');
        $("#BreadCrumbs").append(' <li class="active"><a id="BreadCrumps1" href="#">Inter Account Transaction </a> </li>');



        addLedger();
        CheckVoucherNo();



        var now = new Date();
        var day = ("0" + now.getDate()).slice(-2);
        var month = ("0" + (now.getMonth() + 1)).slice(-2);
        var today = now.getFullYear() + "-" + (month) + "-" + (day);
        $('#ddate').val(today);

        $('.drop option[value=""]').removeAttr("selected");
        var data1 = $('.drop').select2()
            .on("select2:select", function (e) {
                var selected_element = $(e.currentTarget);
                var select_val = selected_element.val();
                var id = $(this).children(".select2-hidden-accessible").context.id;

            });


    })//end of document ready
    function CheckVoucherNo() {
        $.ajax({
            type: "POST",
            url: "/FinanceSummary/FindVoucherNo",
            success: function (data) {
                $("#VoucherNo").val(data);
            }
        });
    }

    function addLedger() {
        $.ajax({
            type: "POST",
            url: "/FinanceSummary/BankCashLedgers",
            success: function (data) {
                console.log(data);
                $.each(data, function (i, item) {
                    debugger;
                    debugger;
                    var head = data[i];
                    $("#payment").append("<optgroup label=" + head.HeadName + " ></optgroup>")
                    $("#received").append("<optgroup label=" + head.HeadName + " ></optgroup>")

                    var Accountlist = head.accountlist;
                    for (var j = 0; j < Accountlist.length; j++) {
                        debugger;
                        $("#payment").append("<option value=" + Accountlist[j].Id + " >" + Accountlist[j].Name + "</option>")
                        $("#received").append("<option value=" + Accountlist[j].Id + " >" + Accountlist[j].Name + "</option>")

                    }
                });
            }
        });
    }

    var Voucher = {
        Date: '',
        Amount: '',
        VoucherNo: '',
        Description: '',
        PaymentFrom: '',
        ReceivedIn: '',
    }

    function SaveVoucher() {

        debugger;
        var t = true;
        //$("#zero_Error").html("");
        //var total = $("#zero").val();
        //var name = $("#voucher").val();
        //$("#Error_Vocuher").html("");

        //if (name == "") {
        //    $("#Error_Vocuher").html("This field is required");
        //}
        //else if (total == 0) {

        //    $("#zero_Error").html("Enter some values");
        //    $("#submit").prop("disabled", true);
        //}
        //else {
        Voucher = Object.create(Voucher);
        Voucher.Date = $('#ddate').val();
        Voucher.Amount = $('#amount').val();
        Voucher.VoucherNo = $('#VoucherNo').val();
        Voucher.Description = $('#Desc').val();
        Voucher.PaymentFrom = $('#payment').val() + "-Cr";
        Voucher.ReceivedIn = $('#received').val() + "-Dr";

        var payment = $("#payment").val();
        var received = $("#received").val();

        if (payment == received) {

            t = false;
            $("#errorMsg").html("Please choose different ledgers");
            $("#submit").prop('disabled', true);
        }

        if (t == true) {
            CBVoucher = JSON.stringify({ 'CBVoucher': Voucher });
            $('.eeniart0017').css("display", "block");
            $.ajax({
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                type: 'POST',
                url: '/FinanceSummary/AddCashBankVoucher',
                data: CBVoucher,
                success: function (data) {
                    $('.eeniart0017').css("display", "none");

                    if (data == 'yes') {
                        window.location.href = "Bank";
                    } else {
                        window.location.href = "";
                    }
                }
            });
        }
    }



</script>
@*<div class="col-md-10" style="border:1px solid #f7f7f7;height:60px;border-radius:10px;background-color:#f7f7f7;margin-left:50px;">
        <br />
        <span style="margin:15px"><b>Inter Account Transaction</b></span>
    </div>*@


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body p-5">
                @*<h4>New Transaction</h4>
                    <hr />*@

                <div class="col-md-12">
                    <div class="col-md-6">
                        <label class="bmd-label-floating">Date</label>
                        <input type="date" class="form-control round-border" id="ddate" />
                        <br />
                    </div>
                    <div class="col-md-6">
                        <label class="bmd-label-floating">Voucher No</label>

                        @*  <span  class="input-group-addon">#</span>*@
                        <input id="VoucherNo" type="text" class="form-control" readonly />

                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-6">
                        <div class="form-group bmd-form-group my-3">
                            <label class="bmd-label-floating">Description</label>
                            <input type="text" name="Name" id="Desc" class="form-control" />

                        </div>

                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-6">

                        <div class="form-row mt-4">
                            <div class="form-group col-md-12 bmd-form-group">
                                <label for="" class="control-label"> Paid From</label>

                                @*<select class="form-control" id="LedgerGroupId" name="LedgerGroupId" required></select>*@
                                <select id='payment' class='form-control drop' onchange='Codedescription(this)'></select>
                            </div>

                        </div>

                    </div>
                    <div class="col-md-6">

                        <div class="form-group bmd-form-group my-3">
                            <label class="bmd-label-floating">Amount</label>

                            <input value="0" type="number" name="dr" onkeyup="Credit()" id="amount" class="form-control dr" required />

                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="col-md-6" style="padding-left:0px">
                            <div class="form-row mt-4">
                                <div class="form-group col-md-12 bmd-form-group">
                                    <label for="" class="control-label">Received In</label>
                                    @*<select class="form-control" id="SessionId" name="SessionId" required></select>*@
                                    <select id='received' class='form-control drop'></select>

                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-12">
                        @*<hr />*@
                        @*<button class="col-md-2 form-control color2" onclick="window.location.href = '/FinanceSummary/BankIndex'" style="border-radius:35px;border:hidden;margin-right:10px;background-color:red;color:white;font-size:11px;width:98px;height:38px;font-family:Montserrat" id="return"><i class="fa fa-arrow-left"></i> &nbsp;&nbsp; Return</button>
                            <input class="col-md-2 form-control color" id="submit" onclick="SaveVoucher()" type="submit" value="Save" style="border-radius:35px;color:white;border:hidden;background-color:#128edb;font-size:11px;width:98px;height:38px;font-family:Montserrat" />*@


                        <span style="color:red" id="errorMsg"> </span>
                        <br />
                        <button type="button" onclick="window.location.href = '/FinanceSummary/BankIndex'" id="btnCancel" class="btn btn-primary rounded rounded-lg bg-transparent text-muted shadow-none mr-3">
                            <i class="material-icons mr-2">cached</i>  Return
                        </button>

                        <button onclick="SaveVoucher()" type="submit" id="submit" class="btn btn-primary rounded rounded-lg"> Save </button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>

<script>

    $(document).ready(function () {

        $("#payment").change(function () {


            LedgersComparsion();
        })

        $("#received").change(function () {

            //var payment = $("#payment").val();
            //var received = $("#received").val();
            //if (payment == received) {


            //    $("#errorMsg").html("Please choose different ledgers");
            //    $("#submit").prop('disabled', true);
            //}
            //else {

            //    $("#errorMsg").html("");
            //    $("#submit").prop('disabled', false);
            //    getAmountOfLedger();
            //}
            LedgersComparsion();
        })
        $("#amount").keyup(function () {
            LedgersComparsion();

        })

    })

    function LedgersComparsion() {

        var payment = $("#payment").val();

        var received = $("#received").val();

        if (payment == received) {

            $("#errorMsg").html("Please choose different ledgers");
            $("#submit").prop('disabled', true);

        }
        else {
            $("#errorMsg").html("");
            $("#submit").prop('disabled', false);

            getAmountOfLedger();
        }
    }

    function getAmountOfLedger() {


        var Amount = $("#amount").val();
        var payment = $("#payment").val();

        Amount = parseInt(Amount);

        if (Amount == "") {
            Amount = 0;
        }

        $.ajax({

            type: 'POST',
            url: '/FinanceSummary/GetLedgerAmount',
            data: { 'LedgerId': payment },
            success: function (data) {
                debugger
                if (data < Amount || Amount <0) {

                    $("#errorMsg").html("ledger does not have enough cash to transfer.");
                    $("#submit").prop('disabled', true);


                }

            }

        })


    }

</script>