
@{
    Layout = "~/Views/Shared/_BranchAdminDashboardLayout.cshtml";
}

<style>
    .text-color {
        color: #AAAAAA !important;
    }

    .color-red {
        color: red;
    }
</style>

<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body p-5">

                <form name="PasswordForm" id="PasswordForm">
                    <div class="col-md-6 pl-5 pr-5  border-color-sea">

                        <div class="form-group bmd-form-group my-3 is-filled">
                            <label class="control-label">Select User <span class="red-mark">*</span> </label>
                            <select class="form-control select2dropdown" name="StudentsAndTeachers" id="StudentsAndTeachers" required></select>
                        </div>

                        <div class="form-group bmd-form-group">
                            <span class="text-color">Password</span>
                            <input type="password" name="Password" id="Password" class="form-control" required>
                            <span class="color-red" id="Password-Error"></span>
                        </div>

                        <div class="form-group bmd-form-group">
                            <span class="text-color">Confirm Password</span>
                            <input type="password" name="ConfirmPassword" id="CnfmPass" class="form-control" required>
                            <span class="color-red" id="CnfmPass-Error"></span>
                        </div>


                        <br>

                        <div class="">
                            <button class="btn btn-primary" id="submit" type="submit">Save</button>
                            <button onclick="window.location.href='/BranchAdmin/Index'" id="cancel" type="button" class="btn btn-primary rounded rounded-lg bg-transparent text-muted shadow-none mr-3">
                                <i class="material-icons mr-2">cached</i>  Cancel &nbsp; &nbsp;
                            </button>
                            <div class="clearfix"></div>
                        </div>

                    </div>

                </form>

            </div>
        </div>
    </div>
</div>

<script>


    $(document).ready(function () {

        $("#PageHeader").html("Reset Password");

        $.ajax({
            type: "POST",
            cache: false,
            url: "/AspnetUsers/StudentsAndTeachersOfBranch",
            processData: false,
            contentType: false,
            success: function (data) {
                var sch = JSON.parse(data);
                console.log(sch);
                var $el = $("#StudentsAndTeachers");
                $el.empty();
                if (sch.length > 0) {
                    $el.append($("<option></option>")
                        .attr("value", "").text('Select User (Students & Teachers)'));
                    for (i = 0; i < sch.length; i++) {

                        $el.append($("<option></option>")
                            .attr("value", sch[i].Id).text(sch[i].Name));
                    }
                }
                else {
                    $el.append($("<option></option>")
                        .attr("value", '').text('Select User (Students & Teachers)'));
                }
                //  $('#BranchId option[value="' + BranchIdForLesson + '"]').prop('selected', true);
            }
        }); //end of All


        $("#Password").bind('blur', function () {
            var password = $("#Password").val();

            var patt = new RegExp("^(?=.{6,})(?=.*[a-z])(?=.*[0-9])(?=.*[A-Z])(?=.*[@@#$%^&+=]).*$");
            var test = patt.test(password);

            if (test == false) {
                $('#Password-Error').html("There should be one uppercase, one lowercase, one special chracter('@@#$%^&+=') and one number in password");
                $('#submit').prop('disabled', true);
            } else {
                $('#Password-Error').html('');
                $('#submit').prop('disabled', false);
            }

        });

        $("#CnfmPass").bind('blur', function () {
            var cnfm = $("#CnfmPass").val();
            var newpass = $("#Password").val();

            if (cnfm != newpass) {
                $('#CnfmPass-Error').html("New Password and Confirm Password does not match");
                $('#submit').prop('disabled', true);
            } else {
                $('#submit').prop('disabled', false);
                $('#CnfmPass-Error').html(" ");
            }

        });



        $('.select2dropdown option[value=""]').removeAttr("selected");
        var data1 = $('.select2dropdown').select2()
            .on("select2:select", function (e) {
                var selected_element = $(e.currentTarget);
                var select_val = selected_element.val();
                // var id = $(this).children(".select2-hidden-accessible").context.id;
            });




        $('#PasswordForm').validate({ // initialize the plugin
            rules: {
                StudentsAndTeachers: {
                    required: true,
                },

            },
            submitHandler: function (form) {

                debugger
                var UserId = $("#StudentsAndTeachers").val();

                var Password = $("#Password").val();
                var CnfmPass = $("#CnfmPass").val();


                $.ajax({

                    type: "POST",
                    url: "/Aspnetusers/ResetPassword",
                    data: { "UserId": UserId, "Password": Password, "CnfmPass":CnfmPass },
                    success: function (data) {

                        debugger

                        if (data.success == "Yes") {

                            var UserName = data.UserName;
                            
                            var type = 'success';
                            var msg = "Password has been updated of user "+UserName;
                            showNotification('top', 'center', msg, type);


                            $('#PasswordForm').trigger("reset");
                            $('#StudentsAndTeachers').val('').trigger('change');

                        }
                        else {

                        }
                    }


                })


            }

        })





    })// end of document ready
</script>

<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
