
@{

    if (User.IsInRole("Accountant"))
    {
        Layout = "~/Views/Shared/_AccountantDashboardLayout.cshtml";
    }
    else if (User.IsInRole("Accounting_Head"))
    {
        Layout = "~/Views/Shared/_AccountHeadDashboardLayout.cshtml";
    }
    else
    {
        Layout = null;
    }
}
<style>
    #error-tag {
        color: red;
    }
</style>

<script>
    $(document).ready(function () {



        $("#PageHeader").html("Cash Account");

        $("#BreadCrumbs").append(' <li> <a href="/FinanceSummary/Index"> Home </a> <span>&gt;</span></li>');
        $("#BreadCrumbs").append(' <li class=""><a id="BreadCrumps1" href="#">Cash Account </a> <span>&gt;</span></li>');
        $("#BreadCrumbs").append(' <li class="active"><a id="BreadCrumps1" href="#"> Create </a></li>');



        $("#error-tag").hide();
        $('#startingbalance').change(function () {
            debugger;
            var balance = $(this).val();

            if (balance >= 0) {

                $('#submit').prop("disabled", false);
                $("#error-tag").hide();
            }
            else {

                $("#error-tag").show();
                $('#submit').prop("disabled", true);
            }

        });


        $('#submit').prop("disabled", true);





    })
</script>


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body p-5">
                @using (Html.BeginForm("NewCashAccount", "Ledgers", FormMethod.Post, new { enctype = "multipart/form-data", id = "Registerform" }))
                {
                    @*<h4 style="font-family:Montserrat">Add New Cash Account</h4>

                    <br />*@


                    <div class="col-md-6">
                        <div class="form-group bmd-form-group my-3">
                            <label class="bmd-label-floating">Name</label>

                            <input type="text" name="name" class="form-control" required />
                            <br />
                        </div>

                    </div>




                    <div class="col-md-6">

                        <label class="bmd-label-floating">Starting Balance</label>
                        <input type="number" name="startingbalance" id="startingbalance" class="form-control" required />
                        <div class="error" id="error-tag">Balance must be greater than or equal to 0</div>

                        <br />
                    </div>




                    @*<div class="col-md-6">
                            <span>Group</span>
                            @Html.DropDownList("LedgerGroupId", null, htmlAttributes: new { @class = "form-control" })
                            <br />
                        </div>*@


                    <div class="col-md-6">
                        <div class="form-row mt-4">
                            <div class="form-group col-md-12 bmd-form-group">
                                <label for="" class="bmd-label-static pl-2">Group</label>

                                @*<select class="form-control" id="LedgerGroupId" name="LedgerGroupId" required></select>*@
                                @Html.DropDownList("LedgerGroupId", null, htmlAttributes: new { @class = "form-control" })


                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-row mt-4">
                            <div class="form-group col-md-12 bmd-form-group">
                                <label for="" class="bmd-label-static pl-2">Session</label>

                                @*<select class="form-control" id="SessionId" name="SessionId" required></select>*@
                                @Html.DropDownList("SessionId", null, htmlAttributes: new { @class = "form-control", @required = "required" })
                            </div>
                        </div>
                    </div>

                    @*<div class="col-md-6">
                            <span>Session</span>
                            @Html.DropDownList("SessionId", null, htmlAttributes: new { @class = "form-control", @required = "required" })
                            <br />
                        </div>*@



                    <div class="col-md-12">
                        <br />


                        @*<button class="col-md-2 form-control" onclick="window.location.href = '/FinanceSummary/CashIndex'" style="border-radius:35px;border:hidden;margin-right:10px;background-color:red;color:white;font-size:11px;width:98px;height:38px;font-family:Montserrat" id="return"><i class="fa fa-arrow-left"></i> &nbsp;&nbsp; Return</button>
                            <input class="col-md-2 form-control" id="submit" form="Registerform" type="submit" value="Save" style="border-radius:35px;color:white;border:hidden;background-color:#128edb;font-size:11px;width:98px;height:38px;font-family:Montserrat" />*@

                        <button type="button" onclick="window.location.href = '/FinanceSummary/CashIndex'" id="btnCancel" class="btn btn-primary rounded rounded-lg bg-transparent text-muted shadow-none mr-3">
                            <i class="material-icons mr-2">cached</i>  Return
                        </button>

                        <button type="submit" id="SaveButton" class="btn btn-primary rounded rounded-lg"> Save </button>


                        <br />
                        <br /><br />
                    </div>
                }
            </div>

        </div>
    </div>
</div>
