
@{

    //Layout = "~/Views/Shared/_AdmissionDashboardLayout.cshtml";


    

        if (User.IsInRole("Admission"))
        {
            Layout = "~/Views/Shared/_AdmissionDashboardLayout.cshtml";
        }
        else if (User.IsInRole("Accountant"))
        {
            Layout = "~/Views/Shared/_AccountantDashboardLayout.cshtml";
        }
      
        else
        {
            Layout = null;
        }

    

}

<style>
    #StudentTestList a:hover {
        text-decoration: underline;
    }

    #datatable_filter {
        display: block !important;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="card">


            <div class="card-body p-4">
                <div class="tab-content" style="padding: 10px 0px 0px 0px;">

                    <div class="tab-pane active show" id="Topics-attr" role="tabpanel" aria-labelledby="Topics-tab-attr">
                        <div class="box box-primary">
                            <div class="box-body">
                                <div class="box-title"></div>
                                <div class="table-responsive">
                                    <table class="table hover  table-striped table-bordered" id="datatable">
                                        <thead>
                                            <tr>
                                                <th>
                                                    Student Name
                                                </th>
                                                <th>
                                                    Father Name
                                                </th>
                                                <th>
                                                    Email
                                                </th>
                                                <th>
                                                    Cell No
                                                </th>
                                                <th>
                                                    Fee Status
                                                </th>
                                                <th>
                                                    Address
                                                </th>

                                            </tr>

                                        </thead>

                                        <tbody id="StudentRegistration">
                                        </tbody>


                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>



<script>


    $(document).ready(function () {


        $("#PageHeader").html(" Student Registration ");

        $("#BreadCrumbs").append(' <li> <a href="/AdmissionDashboard/Dashboard"> Home </a> <span>&gt;</span></li>');
        $("#BreadCrumbs").append(' <li class="active"><a id="BreadCrumps1" href="#">Student Registration</a></li>');


        var table = $('#datatable').dataTable({
            buttons: [
                {
                    text: '<span class="datatableButtonsReset"> <img src="/Content/assets/assets/icons/Icon-Reset2.png" alt=""> Reset</span>'
                },
                {
                    text: '<span class="datatableButtonsEdit"> <img src="/Content/assets/assets/icons/Icon-edit.png" alt=""> Create</span>',
                    action: function (e, dt, button, config) {
                        window.location.href = '/AdmissionDashboard/CreateRegistrationForm';
                    }
                },
                {
                    text: '<span class="datatableButtonsDownload"> <img src="/Content/assets/assets/icons/Icon-download.png" alt=""> Download</span>'
                }
            ],
            "language": {
                "lengthMenu": "<div class=\"d-flex showEntriesCon\">\n" +
                    "  <div class=\"p-2\">Show </div> <div class=\"showEntries\"> _MENU_\n" +
                    "  </div>\n" +
                    "  </div>",
                "info": "<div class='showingEntriesOfTotal'>Showing <span class=\"text-info\">_START_ to _END_</span> of _TOTAL_ entries</div>",
                "paginate": {
                    "first": "Firstt",
                    "last": "Lastt",
                    "next": ' <img src="~/Content/assets/assets/icons/Arrow2.png" alt=""> ',
                    "previous": ' <img src="~/Content/assets/assets/icons/Arrow1.png" alt=""> '
                }
            },
            "searching": true,
            // dom: '<"class">Blfrtip',
            dom: "<'row mb-3'<'col-sm-12 col-md-2 col-lg-2'l><'col-sm-12 col-md-10 col-lg-10 datatableButtonsCon text-right'Bf>>" +
                "<'row'<'col-sm-12 datatablesData'tr>>" +
                "<'row mt-4'<'col-sm-12 col-md-4 col-lg-6 infoCon'i><'col-sm-12 col-md-8 col-lg-6 pagCon'p>>",
        });

        //        $("#datatable1_filter").hide();

        $('#datatable').on('click', 'tbody tr', function () {
            var td = $(this).children("td");
            var userName = $(td[0]).children("input").val(); //EditStudentReg

            window.location.href = "/AdmissionDashboard/EditStudentReg?id=" + userName;
        });

        //$.ajax({
        //    type: "POST",
        //    url: "/StudentCourses/AllTestList",
        //    data: {},

        //    success: function (data) {
        //        table.fnClearTable();
        //        $.each(data, function (index) {


        //            var value = new Date(parseInt(data[index].StartDate.replace(/(^.*\()|([+-].*$)/g, '')));
        //            var dat = value.getMonth() +
        //                1 +
        //                "/" +
        //                value.getDate() +
        //                "/" +
        //                value.getFullYear();// + " " +
        //            value.getTime().toString();


        //            var value1 = new Date(parseInt(data[index].EndTime.replace(/(^.*\()|([+-].*$)/g, '')));
        //            var dat1 = value1.getMonth() +
        //                1 +
        //                "/" +
        //                value1.getDate() +
        //                "/" +
        //                value1.getFullYear();// + " " +
        //            value1.getTime().toString();

        //            var URL = '/StudentCourses/DownloadTest/?id=' + data[index].Id;

        //            table.fnAddData([data[index].Title + "<input  type=hidden value=" + data[index].Id + ">", data[index].Description, data[index].Name, dat, dat1, "<a href = '" + URL + "'>" + data[index].FileName + "</a>",data[index].TotalMarks]);


        //        })
        //        table.fnDraw();

        //    }
        //})

        //StudentRegistration

        $.ajax({
            type: "POST",
            url: "/AdmissionDashboard/RegisteredStudentsList",
            data: {},

            success: function (data) {
                table.fnClearTable();
                $.each(data, function (index) {


                    table.fnAddData([data[index].StudentName + "<input  type=hidden value=" + data[index].Id + ">", data[index].FatherName, data[index].Email, data[index].CellNo, data[index].FeeStatus, data[index].Address]);


                })
                table.fnDraw();

            }
        })

    })//end of document ready
</script>
