
@{
    ViewBag.Title = "QuizList";
    Layout = "~/Views/Shared/_TeacherDashboardLayout.cshtml";
}


@{
    ViewBag.Title = "";
}
<style>
    #cre:hover {
        background-color: #128edb !important;
        color: #ffffff !important;
    }

    #refresh:hover {
        background-color: #21cd54 !important;
        color: #ffffff !important;
    }
</style>
<script>
    $(document).ready(function () {

        $("#PageHeader").html("Quiz Details");

        $("#BreadCrumbs").append(' <li> <a href="/FinanceSummary/Index"> Home </a> <span>&gt;</span></li>');
        $("#BreadCrumbs").append(' <li class="active"><a id="BreadCrumps1" href="#">Quiz Details </a></li>');

        $('#datatable tfoot th').each(function () {
            var title = $(this).text();
            $(this).html('<input type="text" class="round-border" style="border-color:#00b8ec; border-radius:5px;width:100%" placeholder="Search" />');
        });

        var table = $('#datatable').dataTable({
            initComplete: function () {
                // Apply the search
                this.api().columns().every(function () {
                    var that = this;

                    $('input', this.footer()).on('keyup change clear', function () {
                        if (that.search() !== this.value) {
                            that.search(this.value).draw();
                        }
                    });
                });
            },
            buttons: [
                {
                    text: ''
                },
                {
                    text: '',
                    action: function (e, dt, button, config) {
                     //   window.location.href = '/Ledgers/CashCreate';
                    }
                },
                {
                   
                }
            ],
            "language": {
                "lengthMenu": "<div class=\"d-flex showEntriesCon\">\n" +
                    "  <div class=\"p-2\">Show </div> <div class=\"showEntries\"> _MENU_\n" +
                    "  </div>\n" +
                    "  </div>",
                "info": "<div class='showingEntriesOfTotal'>Showing <span class=\"text-info\">_START_ to _END_</span> of _TOTAL_ entries</div>",
                "paginate": {
                    "first": "Firstt",
                    "last": "Lastt",
                    "next": ' <img src="~/Content/assets/assets/icons/Arrow2.png" alt=""> ',
                    "previous": ' <img src="~/Content/assets/assets/icons/Arrow1.png" alt=""> '
                }
            },
            "searching": true,
            // dom: '<"class">Blfrtip',
            dom: "<'row mb-3'<'col-sm-12 col-md-2 col-lg-2'l><'col-sm-12 col-md-10 col-lg-10 datatableButtonsCon text-right'Bf>>" +
                "<'row'<'col-sm-12 datatablesData'tr>>" +
                "<'row mt-4'<'col-sm-12 col-md-4 col-lg-6 infoCon'i><'col-sm-12 col-md-8 col-lg-6 pagCon'p>>",
        });


        $('.table').on('click', 'tbody tr', function () {
            var td = $(this).children("td");
      //      window.location.href = "JournalEntryList?id=" + $(td[0]).html();
        })


        $("#datatable_filter").hide();
        $('#datatable tfoot tr').appendTo('#datatable thead');

        //  drawTable();
        $('.eeniart0017').css("display", "block");

        $.ajax({
            type: "POST",
            url: "/AspnetQuizs/GetQuizList",
            success: function (data) {
                $('.eeniart0017').css("display", "none");
                table.fnClearTable();
                $.each(data, function (i, item) {

                    table.fnAddData([item.Class, item.StudentName, item.Subject, item.Section, item.QuizName, item.QuizDesription, item.StartDate, "<button class='btn buttonload btn-sm btn-primary'    id='" + item.QuizID + "'  name='" + item.StudentID +"'     onclick='start1(this)'><i class='fa fa-spinner'></i>Details</button>"]);
                })
            }
        })
    })
    function numberWithCommas(x) {
        return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }

    function start1(btn) {


        var id = $(btn).attr("id");
        var studentId = $(btn).attr("name");
      //  alert(id);
     //   alert(studentId);
        $(btn).children('i').addClass('fa-spin');
        window.location.href = "/AspNetStudents/QuizDetails?Id=" + id + "&StudentId=" + studentId;

    }
   
</script>
<style>
    #example tr > :nth-child(1) {
        display: none;
    }
</style>


<div class="card">
    <div class="card-body p-4">


        <div class="box box-primary">
            <div class="box-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="datatable">
                        <thead>
                            <tr>
                                <th>Class</th>
                                <th>Student Name</th>
                                <th>Subject</th>
                                <th>Section</th>
                                <th>Quiz Name</th>
                                <th>Quiz Description</th>
                                <th>Start Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                        <tfoot>
                            <tr>
                                <th>Class</th>
                                <th>Student Name</th>
                                <th>Subject</th>
                                <th>Section</th>
                                <th>Quiz Name</th>
                                <th>Quiz Description</th>
                                <th>Start Date</th>
                                <th>Action</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
